<template>

    <div>

      <!-- Table Container Card -->
      <b-card no-body class="mb-0">

        <div class="m-2">

          <!-- Table Top -->
          <b-row>

            <!-- Per Page -->
            <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
              <label>Show</label>
              <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
              <label>entries</label>
            </b-col>

            <!-- Search -->
            <b-col cols="12" md="6">
              <div class="d-flex align-items-center justify-content-end">
                <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search Client..." />
                <b-button variant="primary" @click="goToAddCompany">
                  <span class="text-nowrap">Add Client</span>
                </b-button>
              </div>
            </b-col>
          </b-row>

        </div>

        <b-table ref="refUserListTable" class="position-relative" :items="companyList.companys.data" responsive
          :fields="tableColumns" primary-key="id" :sort-by.sync="table.sortBy" show-empty
          empty-text="No matching records found" :sort-desc.sync="isSortDirDesc">

          <!-- Column: User -->
          <template #cell(name)="data">
            <b-media vertical-align="center">
              <template #aside>
                <b-avatar size="32" :src="data.item.logo" :text="avatarText(data.item.name)"
                  :variant="`light-${resolveUserRoleVariant(data.item.role)}`"
                  :to="{ name: 'admin-company-edit', params: { id: data.item.id } }" />
              </template>

              <b-link :to="{ name: 'admin-company-edit', params: { id: data.item.id } }"
                class="font-weight-bold d-block text-nowrap">
                {{ data.item.name }}
              </b-link>
            </b-media>
          </template>

          <!-- Column: Contact Number -->
          <template #cell(contact_no)="data">
            <div class="text-nowrap">
              <span class="align-text-top text-capitalize">{{ data.item.contact_no }}</span>
            </div>
          </template>

          <!-- Column: Client Company Name with ABN -->
          <template #cell(abn)="data">
            {{ data.item.abn }}
          </template>

          <!-- Column: Status -->
          <template #cell(status)="data">
            <b-badge href="#" pill :variant="`light-${resolveUserStatusVariant(data.item.status)}`"
              class="text-capitalize" @click="changeStatus(data.item.id, data.item.status)">
              {{ getStatusValue(data.item.status) }}
            </b-badge>
          </template>

          <!-- Column: Actions -->
          <template #cell(actions)="data">
            <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">

              <template #button-content>
                <feather-icon icon="MoreVerticalIcon" size="16" class="align-middle text-body" />
              </template>
              <b-dropdown-item :to="{ name: 'admin-company-view', params: { id: data.item.id } }">
                <feather-icon icon="FileTextIcon" />
                <span class="align-middle ml-50">Details</span>
              </b-dropdown-item>

              <b-dropdown-item :to="{ name: 'admin-company-edit', params: { id: data.item.id } }">
                <feather-icon icon="EditIcon" />
                <span class="align-middle ml-50">Edit</span>
              </b-dropdown-item>

              <b-dropdown-item @click="deleteCompany(data.item.id)">
                <feather-icon icon="TrashIcon" />
                <span class="align-middle ml-50">Delete</span>
              </b-dropdown-item>
            </b-dropdown>
          </template>

        </b-table>
        <div class="mx-2 mb-2">
          <b-row>

            <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
              <span class="text-muted">Showing {{ companyList.companys.from }} to {{ companyList.companys.to }} of {{
      companyList.companys.total
  }}
                entries</span>
            </b-col>
            <!-- Pagination -->
            <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">

              <b-pagination v-model="table.page" :total-rows="companyList.total" :per-page="table.perPage" first-number
                last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
                <template #prev-text>
                  <feather-icon icon="ChevronLeftIcon" size="18" />
                </template>
                <template #next-text>
                  <feather-icon icon="ChevronRightIcon" size="18" />
                </template>
              </b-pagination>

            </b-col>

          </b-row>
        </div>
      </b-card>
    </div>
  </template>

  <script>
  import {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
  } from 'bootstrap-vue'
  import vSelect from 'vue-select'
  import { avatarText } from '@core/utils/filter'
  import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
  import Ripple from 'vue-ripple-directive'

  import { mapActions, mapGetters } from 'vuex';
  import UserServices from "@/services/userServices";
  import CompanyServices from "@/services/companyServices";

  import BaseMixins from "@/mixins/BaseMixins";

  export default {
    mixins: [BaseMixins],
    components: {

      BCard,
      BRow,
      BCol,
      BFormInput,
      BButton,
      BTable,
      BMedia,
      BAvatar,
      BLink,
      BBadge,
      BDropdown,
      BDropdownItem,
      BPagination,

      vSelect,
    },
    directives: {
      Ripple,
    },
    data() {
      return {
        avatarText,
        table: {
          perPage: 25,
          search: '',
          sortBy: null,
          sortDesc: true,
          page: 1,
          role: '',
          status: '',
        },
        refUserListTable: null,
        perPageOptions: [10, 25, 50, 100],
        tableColumns: [
          { label: 'Company Name', key: 'name', sortable: true },
          { label: 'ABN', key: 'abn', sortable: true },
          { label: 'Client Id', key: 'client_id', sortable: true },
          { label: 'Contact Number', key: 'contact_no' },
          { label: 'Created Date', key: 'created_at_format', sortable: false },
          { label: 'Status', key: 'status' },
          { label: 'Actions', key: 'actions' },
        ],
        isSortDirDesc: true,
        totalUsers: this.companyList != null ? this.companyList.total : 0,
      };
    },
    computed: {

      // Get state variables
      ...mapGetters('company',
        [
          'roleOptions',
          'companyList',
        ]
      ),
    },
    methods: {

      ...mapActions('company',
        [
          'getAllCompany',
          'getCompanyData',
        ]
      ),
      refetchData() {
        this.getAllCompany(this.table);
        //this.refUserListTable.value.refresh()
      },
      goToAddCompany() {
        this.$router.push({ name: 'admin-company-add' });
      },
      // Change user status
      changeStatus(id, status) {
        this.$swal({
          title: 'Are you sure?',
          text: "Do you want to change user status?",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, change it!',
          customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
          },
          buttonsStyling: false,
        }).then(result => {
          if (result.value) {
            // check validation
            CompanyServices.changeStatus({ id: id, status: status }).then(response => {
              if (response.status === true || response.status == 'true') {
                this.$swal({
                  icon: 'success',
                  title: 'Changed!',
                  text: response.message,
                  customClass: {
                    confirmButton: 'btn btn-success',
                  },
                })

                // Refetch table data
                this.refetchData()
              } else {
                this.$toast({
                  component: ToastificationContent,
                  position: 'top-right',
                  props: {
                    title: 'Error',
                    variant: 'danger',
                    text: response.message,
                  },
                })
              }
              return Promise.resolve(response);
            });
          }
        })
      },
      // User soft delete
      deleteCompany(id) {
        this.$swal({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-danger ml-1',
          },
          buttonsStyling: false,
        }).then(result => {

          if (result.value) {
            this.$swal({
              title: "<span style='color:white'>WARING!!</span>",
              html: "<p style='color:white'>If you delete this client. You will permanently remove all associated information. You will not be able to undo this action. If in doubt contact your administrator.</p>",
              icon: "warning",
              background: '#FF0000',
              //color: '#FFFFFF',
              showCancelButton: true,
              confirmButtonText: "Yes, delete it!",
              customClass: {
                confirmButton: "btn btn-primary",
                cancelButton: "btn btn-outline-light ml-1 text-black",
                icon: "text-white border border-white "
              },
              buttonsStyling: false,
            }).then((secondResult) => {
              if(secondResult.value){
                // check validation
                CompanyServices.deleteCompanyData(id).then(response => {
                  if (response.status === true || response.status == 'true') {
                    this.$swal({
                      icon: 'success',
                      title: 'Deleted!',
                      text: response.message,
                      customClass: {
                        confirmButton: 'btn btn-success',
                      },
                    })

                    // Refetch table data
                    this.refetchData()
                  } else {
                    this.$toast({
                      component: ToastificationContent,
                      position: 'top-right',
                      props: {
                        title: 'Error',
                        variant: 'danger',
                        text: response.message,
                      },
                    })
                  }
                  return Promise.resolve(response);
                }).catch(error => {
                    this.$toast({
                        component: ToastificationContent,
                        position: "top-right",
                        props: {
                        icon: "XIcon",
                        variant: "danger",
                        text: error.message,
                        },
                    });
                });
              }
            })
          }
        })
      },
    },
    mounted() {
      // Get all admin users
      this.getAllCompany(this.table).catch((error) => {
        this.showToast(
          "Error",
          "XIcon",
          "danger",
          error.data.message
        );
      });
    },
    watch: {
      table: {
        handler() {
          this.getAllCompany(this.table);
        },
        deep: true,
      },
    },
  }
  </script>


  <style lang="scss">
  @import '~@resources/scss/vue/libs/vue-select.scss';
