<template>
    <b-row class="m-0 justify-content-end">
        <b-col cols="12" md="3" class="mb-md-0 mb-2 p-0 pr-1 location-area-wrapper" ><h5 class="text-primary text-wight">Location & Area</h5></b-col>
        <b-col cols="12" md="4" class="mb-md-0 mb-2 p-0 pr-1">
            <v-select :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" v-model="site" :options="siteOptions"
                :clearable="false" class="w-100" :reduce="val => val.value" placeholder="Please select site">
                <template slot="option" slot-scope="option">
                    <p class="m-0 p-0" :title="option.label">{{ option.label }}</p>
                    <!-- <span :id="'site-manager-location-id-'+option.value">{{ option.label }}</span> -->
                    <!-- <b-tooltip :title="option.label" :target="`site-manager-location-id-${option.value}`" /> -->
                </template>
            </v-select>
        </b-col>
        <b-col cols="12" md="4" class="mb-md-0 mb-2 p-0 pr-1">
            <v-select :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" v-model="subSite"
                :options="filteredSubSiteOptions" :clearable="false" class="w-100" :reduce="val => val.value"
                placeholder="Please select sub site">
                <template slot="option" slot-scope="option">
                    <p class="m-0 p-0" :title="option.label">{{ option.label }}</p>
                    <!-- <span :id="'site-manager-area-id-'+option.value">{{ option.label }}</span> -->
                    <!-- <b-tooltip :title="option.label" :target="`site-manager-area-id-${option.value}`" /> -->
                </template>
            </v-select>
        </b-col>
        <b-col cols="12" md="1" class="mb-md-0 mb-2 p-0">
            <b-button
            variant="outline-primary"
            @click="setSiteAndSubSite"
            >
            Go
            </b-button>
            <!-- <b-button
            variant="outline-primary"
            >
            Back to Home
            </b-button> -->
        </b-col>
    </b-row>
</template>

<script>
import { BCard, BCardHeader, BCardBody, BRow, BCol, BButton, BTooltip } from 'bootstrap-vue'
import vSelect from 'vue-select'
import { mapGetters, mapActions } from 'vuex'

export default {
    components: {
        BButton,
        BRow,
        BCol,
        BCard,
        BCardHeader,
        BCardBody,
        BTooltip,
        vSelect,
    },
    props: {

    },
    data() {
        return {
            site: this.defaultSite,
            subSite: this.defaultSubSite,
            filteredSubSiteOptions: [],
            flag: false,
        }
    },
    computed: {
        ...mapGetters('siteManager', ['defaultSite', 'defaultSubSite', 'siteOptions', 'subSiteOptions']),
    },
    mounted() {
        this.site = this.defaultSite;
        this.subSite = this.defaultSubSite;
        if(this.site == null && this.subSite == null){
            this.site = this.siteOptions.length ? this.siteOptions[0].value:'';
            this.filteredSubSiteOptions = this.subSiteOptions.filter(subSite => subSite.site == this.site)
            this.subSite = this.filteredSubSiteOptions.length ? this.filteredSubSiteOptions[0].value:'';
        }
    },
    methods: {
        setSiteAndSubSite() {
            // Set selected site and subsite to local storage
            localStorage.setItem('defaultSite', this.site);
            localStorage.setItem('defaultSubSite', this.subSite);
            // reload the page to dashboard(home)
            //window.location.href = "/"
            
            // reload the page
            // START :: if category not found then redirect to dashboard
            window.location.reload();
            // END :: if category not found then redirect to dashboard
        }
    },
    watch: {
        site: function(val) {
            this.filteredSubSiteOptions = this.subSiteOptions.filter(subSite => subSite.site == val)
            if(this.flag){
                this.subSite = '';
                this.subSite = this.filteredSubSiteOptions.length ? this.filteredSubSiteOptions[0].value:'';
            }
            this.flag=true;
        },
        subSite: function(val) {
            // 1. Update selected site and subsite in vuex store
            // 2. Call Action to API to perform the category module sidebar
            // 3. Remaining changes if any
        }
    }
}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
</style>
