<template>
  <!-- modal create-->
  <b-modal id="clone-from-template-field-modal" cancel-variant="outline-secondary" cancel-title="Close" centered
    title="Choose Template" hide-footer header-class="justify-content-center" @hide="closeModal">
    <!-- Alert - Server side error -->
    <error-message></error-message>
    <validation-observer ref="cloneFromTemplateFieldFormObserver">
      <b-form>
        <b-row>

          <b-col md="12">
            <validation-provider #default="validationContext" name="Template" rules="required">
              <b-form-group :state="getValidationState(validationContext)">
                <label>Template <span class="text-danger">*</span></label>
                <v-select ref="templateRef" :value="cloneTemplateId" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                  :options="userTemplateOptions" :reduce="val => val.value" :clearable="true" input-id="cloneTemplateId"
                  placeholder="Select Template" :disabled='viewMode' @input="onChangeTemplate($event)" />
                <b-form-invalid-feedback :state="getValidationState(validationContext)">
                  {{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
              </b-form-group>
            </validation-provider>
          </b-col>

          <b-col md="6" v-if="templateAllFields.length > 0">
            <b-form-group>
              <b-form-checkbox v-model="allSelected" :indeterminate="indeterminate" aria-describedby="templateAllFields"
                aria-controls="templateAllFields" @change="toggleAll">
                {{ allSelected ? 'Un-select All' : 'Select All' }}
              </b-form-checkbox>
            </b-form-group>

            <b-form-group v-for="option in templateAllFields" :key="option.value">
              <b-form-checkbox v-model="templatedFieldSelected" :value="option.value" name="templateAllField">
                {{ option.text }}
              </b-form-checkbox>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group v-if="templateAllFields.length == 0 && noTemplateFields">
              <label class="text-center"> No template field found.</label>
            </b-form-group>
          </b-col>

          <!-- submit button -->
          <b-col offset-md="4">
            <b-button variant="primary" @click.prevent="submitCloneFromTemplateField" :disabled='viewMode || modalButtonDisable'>
              Add
            </b-button>
            <b-button v-ripple.400="'rgba(186, 191, 199, 0.15)'" variant="outline-secondary"
              @click.prevent="closeModal()">
              Cancel
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-modal>
</template>

<script>
import { BModal, VBModal, BRow, BCol, BButton, BForm, BFormGroup, BFormInput, BFormTextarea, BFormCheckbox, BFormInvalidFeedback, BFormCheckboxGroup } from 'bootstrap-vue'
import vSelect from 'vue-select'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from 'vuex';
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import store from '@/store/index'
import router from '@/router';

export default {
  components: {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
    BFormCheckboxGroup,

    ErrorMessage,
  },
  directives: {
    "b-modal": VBModal,
    Ripple,
  },
  data() {
    const { refFormObserver, getValidationState } = formValidation(this.defaultTemplate)

    return {
      refFormObserver,
      getValidationState,
      required,
      templatedFieldSelected: [],
      allSelected: false,
      indeterminate: false,
      noFieldFlag: false,
    }
  },
  props: ['perPage', 'page'],
  computed: {
    // Get state variables
    ...mapGetters('template',
      [
        'userTemplateOptions',
        'cloneTemplateId',
      ]),
    ...mapGetters('templateField', ['templateAllFields', 'noTemplateFields']),
    ...mapGetters('moduleField',
      [
        'modalButtonName',
        'editMode',
        'viewMode',
        'modalButtonDisable'
      ]
    ),
  },
  methods: {
    ...mapActions('moduleField',
      [
        'saveTemplateFieldForModule',
        'getModuleFieldList'
      ]
    ),
    closeModal() {
      this.$bvModal.hide('clone-from-template-field-modal');
    },
    onChangeTemplate(templateId) {

      // Reset flag for select all
      this.allSelected = false;
      this.indeterminate = false;

      if(templateId == null) {
        // Set when no template fields
        store.commit('templateField/UPDATE_NO_TEMPLATE_FIELDS', false);
      } else {
        store.commit('templateField/UPDATE_NO_TEMPLATE_FIELDS', true);
      }

      store.commit('template/UPDATE_CLONE_TEMPLATE_ID', templateId);

      // Blank array assigned when change template
      this.templatedFieldSelected = [];

      // call for get user template field list
      store.dispatch('templateField/getTemplateAllFields', { templateId: templateId });
    },
    toggleAll(checked) {
      let tempSelected = [];
      for (const key in this.templateAllFields) {
        if (Object.hasOwnProperty.call(this.templateAllFields, key)) {
          const element = this.templateAllFields[key];
          tempSelected.push(element.value);
        }
      }

      this.templatedFieldSelected = checked ? tempSelected : [];
    },
    // Submit clone template field data
    submitCloneFromTemplateField() {
      this.$refs.cloneFromTemplateFieldFormObserver.validate().then(success => {
        if (success) {
          const payload = {
            'moduleId': router.currentRoute.params.id,
            'templateId': this.cloneTemplateId,
            'templateFieldIdArray': this.templatedFieldSelected,
          }

          // check validation
          this.saveTemplateFieldForModule(payload).then(response => {
            if (response.status === true || response.status == 'true') {

              // Close modal
              this.closeModal();

              // Get data after save
              store.dispatch('moduleField/getModuleFieldList', { perPage: this.perPage, sortBy: 'mf_id', sortDesc: 'true', page: this.page, moduleId: router.currentRoute.params.id });

              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: `Notification`,
                  icon: 'CheckIcon',
                  variant: 'success',
                  text: response.message,
                },
              })
            } else {
              //this.moveUp();
            }
            return Promise.resolve(response);
          });

        }
        else {
          //this.moveUp();
        }
      })
    },
  },
  watch: {
    templatedFieldSelected(newValue, oldValue) {
      // Handle changes in individual flavour checkboxes
      if (newValue.length === 0) {
        this.indeterminate = false
        this.allSelected = false

        // Disabled add button when no fields
        store.commit('moduleField/UPDATE_MODAL_BUTTON_DISABLE', true);
      } else if (newValue.length === this.templateAllFields.length) {
        this.indeterminate = false
        this.allSelected = true

        // Enabled add button when fields
        store.commit('moduleField/UPDATE_MODAL_BUTTON_DISABLE', false);
      } else {
        this.indeterminate = true
        this.allSelected = false

        // Enabled add button when fields
        store.commit('moduleField/UPDATE_MODAL_BUTTON_DISABLE', false);
      }
    }
  }
}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
</style>

