<template>
    <b-card class="demo-inline-spacing">
        <!-- Result Section -->
        <b-row class="mb-2">
            <b-col md="12">
                <div class="display-4 text-left">
                    <b-badge pill :variant="`light-${confinedSpaceStatusVariant(confinedSpaceData.csfr_result)}`">
                        {{(confinedSpaceData.csfr_result == 'No Confined Space')?'Not a confined space':confinedSpaceData.csfr_result }}
                    </b-badge>
                </div>
            </b-col>
        </b-row>
        <!-- First Section -->
        <b-row class="mb-2">
            <b-col md="12">
                <h5><b>1. &nbsp; IDENTIFICATION CRITERIA</b></h5>
                <P>
                    The definition of a confined is given in Schedule 19 of the Workplace Health and Safety Regulations 2011
                    QLD, and is further explained in the Confined Spaces Code of Practice 2021 QLD. Please read the full
                    items at the end of this form.
                </P>
            </b-col>
        </b-row>
        <!-- Second Section -->
        <div class="mb-2">
            <b-row class="mb-1">
                <b-col md="12">
                    <h5><b>2. &nbsp; DETAILS</b></h5>
                </b-col>
            </b-row>
            <b-row class="mb-1">
                <b-col md="12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Department:</th>
                                <td>{{ confinedSpaceData.csfr_department }}</td>
                                <th scope="col" class="text-center"><b>Date: </b></th>
                                <td>{{ confinedSpaceData.csfr_date_format }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Position:</th>
                                <td colspan="3">{{ confinedSpaceData.csfr_position }}</td>

                            </tr>
                            <tr>
                                <th scope="col">Location of space:</th>
                                <td colspan="3">{{ confinedSpaceData.csfr_location_of_space }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Description of space:</th>
                                <td colspan="3">{{ confinedSpaceData.csfr_description_of_space }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">&nbsp;</td>
                            </tr>
                            <tr>
                                <th scope="col">Does the space already have a confined space number (CSID)?</th>
                                <td class="text-center h2"><b-badge pill :variant="`light-success`"
                                v-if="confinedSpaceData.csfr_is_confined_space_number == 'Y'">Yes</b-badge>
                                <b-badge pill :variant="`light-warning`" v-else>No</b-badge></td>
                                <th scope="col" class="text-center"><b>CSID# If known:</b></th>
                                <td>{{ confinedSpaceData.csfr_confined_space_number }}</td>
                            </tr>
                        </thead>
                    </table>
                </b-col>
            </b-row>
        </div>
        <!-- Third Section -->
        <div class="mb-2">
            <div class="mb-1">
                <b-row>
                    <b-col >
                        <h5><b>3. &nbsp; IDENTIFICATION PROCEDURES</b></h5>
                    </b-col>
                </b-row>
            </div>
            <b-row>
                <b-col md="12">
                    <table class="table table-bordered">
                            <thead>
                                <tr>
                                <th scope="col" class="text-center">Criteria</th>
                                <th scope="col">Question</th>
                                <th scope="col" class="text-center">Answer</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(value, key) in confinedSpaceData.answers" :key="key">
                                <!-- <th scope="row" v-if="value.question.csq_id <= 5" class="text-center">{{ value.question.csq_id }}</th> -->
                                <!-- <th v-else-if="value.question.csq_id == 6" rowspan="4"></th> -->
                                <th scope="row" class="text-center">{{ key+1 }}</th>                                
                                
                                <td>{{ value.question.csq_title }}</td>
                                <td class="text-center h2">
                                    <b-badge pill :variant="`light-danger`" v-if="value.csa_value == 'Y'">Yes</b-badge>
                                    <b-badge pill :variant="`light-success`" v-else-if="value.csa_value == 'N'">No</b-badge>
                                    <span v-else-if="value.csa_value == null | value.csa_value == ''">
                                        <b-badge v-if="value.question.csq_id <= 4 || value.question.csq_id >= 6" pill :variant="`light-success`">No</b-badge>
                                    </span>
                                </td>
                                </tr>
                            </tbody>
                    </table>
                </b-col>
            </b-row>
        </div>
    </b-card>
</template>

<script>
import {
    BFormInput, BFormGroup, BForm, BRow, BCol, BCardText, BCard, BBadge, BTable, BTr, BTh,
    BTd
} from 'bootstrap-vue'
import router from '@/router';
import { mapActions, mapGetters } from 'vuex';

export default {
    components: {
        BCardText,
        BFormInput,
        BFormGroup,
        BForm,
        BRow,
        BCol,
        BCard,
        BBadge,
        BTable,
        BTr,
        BTh,
        BTd
    },
    mounted() {
        this.getModuleFieldData(router.currentRoute.params.id);
    },
    computed: {
        // Get state variables
        ...mapGetters('confinedSpace', ['confinedSpaceData']),
    },
    methods: {
        // Action call for set state variables
        ...mapActions('confinedSpace', ['getModuleFieldData']
        ),
        confinedSpaceStatusVariant(status) {
            if (status === 'Restricted Area') return 'warning'
            if (status === 'No Confined Space') return 'success'
            if (status === 'Confined Space') return 'danger'
            //if (status === 'inspect') return 'secondary'

            return 'primary'
        },
    }


}
</script>
