<template>
    <!-- modal create-->
    <b-modal
      id="admin-view-modal"
      cancel-variant="outline-secondary"
      ok-title="View Client"
      cancel-title="Close"
      centered
      :title="'View Client'"
      hide-footer
      size="lg"
      header-class="justify-content-center"
      @hide="closeModal"
      :no-close-on-backdrop="true"
    >
      <!-- Alert - Server side error -->
      <error-message></error-message>
      <validation-observer ref="userFormObserver">
        <b-form>
            <b-row class="mt-0">
                <b-col cols="12">
                <!-- Media -->
                <b-media class="mb-2">
                    <template #aside>
                    <b-avatar ref="previewEl" :src="userData.avatar"
                        :variant="`light-${resolveUserRoleVariant(userData.role)}`" size="90px" rounded />
                    </template>
                    <h4 class="mt-3">
                    {{ userData.full_name }}
                    </h4>

                </b-media>
                </b-col>
            </b-row>
          <b-row>
            <!-- Field: First Name -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="First Name" rules="required|alpha">
            <b-form-group>
              <label>First Name <span class="text-danger">*</span></label>
              <b-form-input id="first_name"  v-model="userData.first_name"
                :state="getValidationState(validationContext)" trim disabled/>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Middle Name -->
        <!-- <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Middle Name" rules="alpha">
            <b-form-group label="Middle Name" label-for="middle_name">
              <b-form-input id="middle_name"  v-model="userData.middle_name"
                :state="getValidationState(validationContext)" trim disabled/>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col> -->

        <!-- Field: Last Name -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Last Name" rules="alpha">
            <b-form-group>
              <label>Last Name</label>
              <b-form-input id="last_name"  v-model="userData.last_name"
                :state="getValidationState(validationContext)" trim disabled/>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Work Email -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Email" rules="required|email">
            <b-form-group>
              <label>Work Email <span class="text-danger">*</span></label>
              <b-form-input id="email"  v-model="userData.email" type="email"
                :state="getValidationState(validationContext)" trim disabled/>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Contact Number -->
        <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="Contact Number" rules="isMobilePhone">
            <b-form-group>
              <label>Contact Number </label>
              <b-form-input id="contact_number" v-model="userData.contact_number"
                :state="getValidationState(validationContext)" trim disabled/>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Representative Position -->
        <b-col cols="12" md="4">
          <validation-provider #default="validationContext" name="Representative Position" >
            <b-form-group>
              <label>Representative Position </label>
              <b-form-input id="client_representative_position"
                v-model="userData.client_representative_position" :state="getValidationState(validationContext)" trim disabled/>
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>
      </b-row>
    
          <b-row class="mt-2">
            <!-- submit button -->
            <b-col offset-md="5">
              <b-button
                v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                variant="outline-secondary"
                @click.prevent="closeModal()"
              >
                Cancel
              </b-button>
            </b-col>
          </b-row>
        </b-form>
      </validation-observer>
    </b-modal>
  </template>

  <script>
  import {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormCheckbox,
    BFormInvalidFeedback,
    BMedia,
    BAvatar,
    BLink,
  } from "bootstrap-vue";

  import { ValidationProvider, ValidationObserver } from 'vee-validate'
  import { required, alpha, email } from "@validations";
  import { avatarText } from '@core/utils/filter'
  import formValidation from "@core/comp-functions/forms/form-validation";
  import Ripple from "vue-ripple-directive";
  import BaseMixins from "@/mixins/BaseMixins";
import UserServices from "@/services/userServices";
import router from '@/router'
  import ErrorMessage from "@/views/error/ErrorMessage";
  import { mapActions, mapGetters } from "vuex";
  import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
  import store from "@/store/index";

  export default {
    mixins: [BaseMixins],
    components: {
      BModal,
      VBModal,
      BRow,
      BCol,
      BButton,
      BForm,
      BFormGroup,
      BFormInput,
      BFormTextarea,
      BFormCheckbox,
      BFormInvalidFeedback,
      BMedia,
    BAvatar,
    BLink,

      // Form Validation
      ValidationProvider,
      ValidationObserver,
      avatarText,

      ErrorMessage,
    },
    directives: {
      "b-modal": VBModal,
      Ripple,
    },
    data() {
      const { refFormObserver, getValidationState } = formValidation(this.userData);

      return {
        refFormObserver,
        getValidationState,
        required,
      };
    },
    props: ['perPage', 'page'],
    computed: {
      // Get state variables
      ...mapGetters("category", ["modalButtonName", "category", "editMode", "viewMode"]),
      ...mapGetters('user',
      [
        'userData', // Get all admin users
        'clientMakeAdminList'
      ]
    ),
    },
    methods: {
      ...mapActions("category", ["saveCategory", "updateCategory"]),
      // Action call for set state variables
    ...mapActions('user',
      [
        'getUserData', // Get all admin users
        'getUserWithCompanyData'
      ]
    ),
      closeModal() {
        this.$bvModal.hide("admin-view-modal");
      },
      // Submit User data
    //   updateAdminUser() {
    //     this.$refs.categoryFormObserver.validate().then((success) => {
    //       if (success) {
    //         if (this.modalButtonName == "Update" && this.editMode) {
    //           this.updateCategory(this.category).then((response) => {
    //             if (response.status === true || response.status == "true") {
    //               this.closeModal();

    //               store.dispatch("category/getAllCategory", {
    //                 perPage: this.perPage,
    //                 sortBy: "category_id",
    //                 sortDesc: "true",
    //                 page: this.page,
    //               });

    //               this.$toast({
    //                 component: ToastificationContent,
    //                 position: "top-right",
    //                 props: {
    //                   icon: "CheckIcon",
    //                   title: `Notification`,
    //                   variant: "success",
    //                   text: response.message,
    //                 },
    //               });
    //             }
    //             return Promise.resolve(response);
    //           });
    //         } else {
    //           // check validation
    //           this.saveCategory(this.category).then((response) => {
    //             if (response.status === true || response.status == "true") {
    //               // Close modal and reset data
    //               this.closeModal();
    //               store.dispatch("category/getAllCategory", {
    //                 perPage: this.perPage,
    //                 sortBy: "category_id",
    //                 sortDesc: "true",
    //                 page: this.page,

    //               });

    //               this.$toast({
    //                 component: ToastificationContent,
    //                 position: "top-right",
    //                 props: {
    //                   icon: "CheckIcon",
    //                   title: `Notification`,
    //                   variant: "success",
    //                   text: response.message,
    //                 },
    //               });
    //             } else {
    //               //this.moveUp();
    //             }
    //             return Promise.resolve(response);
    //           });
    //         }
    //       } else {
    //         //this.moveUp();
    //       }
    //     });
    //   },
      updateAdminUser(id) {
      this.$refs.userFormObserver.validate().then(success => {
        if (success) {
          // check validation
          UserServices.updateUserData(this.userData).then(response => {
            if (response.status === true || response.status == 'true') {

                this.$bvModal.hide("admin-modal");
                this.getUserWithCompanyData(router.currentRoute.params.id);
              //this.$router.push({ name: 'users-edit', params: { id: this.userData.id } })
              //this.moveUp();
             // this.$router.push({ name: 'admin-client-list' })

              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: `Notification`,
                  icon: 'CheckIcon',
                  variant: 'success',
                  text: response.message,
                },
              })
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        } else {
          this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: "Please fill required data.",
                },
              })
          //store.commit('app/UPDATE_ERRORS', errors);
        }
      })
    },

      newAvatarUpload(e) {
      e.preventDefault();

      let userAvatarData = {
        id: this.userData.id
      }

      // append file
      let formData = new FormData()

      formData.append('file', e.target.files[0])
      formData.append('id', this.userData.id)

      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }

      UserServices.uploadUserAvatar(userAvatarData, formData, config).then(response => {
        if (response.status === true || response.status == 'true') {

          // Call again for get updated user image
          store.dispatch('user/getUserData', router.currentRoute.params.id);

          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Notification',
              variant: 'success',
              text: response.message,
            },
          })
        } else {
          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Error',
              variant: 'danger',
              text: response.data.errors.file,
            },
          })
        }
        return Promise.resolve(response);
      });
    },
    // Remove user avatar which is exist
    removeAvatar() {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          UserServices.removeUserAvatar(this.userData.id).then(response => {
            if (response.status === true || response.status == 'true') {

              this.userData.avatar = "";

              this.$swal({
                title: 'Removed!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.data.errors.file,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    }
    },
  };
  </script>
