<template>
    <b-card no-body class="mb-0">
        <div class="m-2">
            <app-collapse accordion :type="collapseType" class="custom-acc-tab test123">
                <app-collapse-item title="collapse 1">
                    <div>
                        collapse
                    </div>
                </app-collapse-item>
            </app-collapse>
        </div>
    </b-card>
</template>

<script>
import {
  BCard,
  BForm,
  BRow,
  BCol,
  BFormGroup,
  BButton,
  BFormSelect,
  BFormRadio,
  BFormRadioGroup,
  BFormCheckbox,
  BTabs,
  BTab,
  BCardText,
  BFormInput
} from "bootstrap-vue";
import AppCollapse from "@core/components/app-collapse/AppCollapse.vue";
import AppCollapseItem from "@core/components/app-collapse/AppCollapseItem.vue";
export default {

    components: {
        BCard,
        BForm,
        BRow,
        BCol,
        BFormGroup,
        BButton,
        BFormSelect,
        BFormRadio,
        BFormRadioGroup,
        BFormCheckbox,
        BTabs,
        BTab,
        BCardText,
        BFormInput,
        AppCollapse,
        AppCollapseItem,
    }

}
</script>

