<template>
  <div>

    <!-- Media -->
    <b-media class="mb-2">
      <template #aside>
        <b-avatar ref="previewEl" :src="userData.avatar" :text="avatarText(userData.full_name)"
          :variant="`light-${resolveUserRoleVariant(userData.role)}`" size="90px" rounded />
      </template>
      <h4 class="mb-1">
        {{ userData.full_name }}
      </h4>
      <div class="d-flex flex-wrap">
        <b-button variant="primary" @click="$refs.refInputEl.click()">
          <input ref="refInputEl" type="file" class="d-none" @change="newAvatarUpload" accept="image/*">
          <span class="d-none d-sm-inline">Update</span>
          <feather-icon icon="EditIcon" class="d-inline d-sm-none" />
        </b-button>
        <b-button variant="outline-secondary" class="ml-1" @click="removeAvatar">
          <span class="d-none d-sm-inline">Remove</span>
          <feather-icon icon="TrashIcon" class="d-inline d-sm-none" />
        </b-button>
      </div>
    </b-media>

    <!-- User Info: Input Fields -->
    <b-row v-if="userData">

      <!-- Field: First Name -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="First Name" rules="required|alpha">
          <b-form-group label="First Name" label-for="first_name">
            <b-form-input id="first_name" v-model="userData.first_name"
              :state="getValidationState(validationContext)" trim />
            <b-form-invalid-feedback>
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <!-- Field: Last Name -->
      <b-col cols="12" md="4">
          <b-form-group label="Last Name" label-for="last_name">
            <b-form-input id="last_name" v-model="userData.last_name" trim />
          </b-form-group>
      </b-col>

      <!-- Field: Work Email -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="Email" rules="required|email">
          <b-form-group label="Work Email" label-for="email">
            <b-form-input id="email" v-model="userData.email" type="email"
              :state="getValidationState(validationContext)" trim />
            <b-form-invalid-feedback>
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <!-- Field: Employee ID Number -->
      <b-col cols="12" md="4">
        <b-form-group>
          <label>Employee ID Number</label>
          <b-form-input
            id="employee_id_number"
            v-model="userData.employee_id_number"
            trim
          />
        </b-form-group>
      </b-col>

      <!-- Field: Notes -->
      <b-col cols="12" md="4">
        <b-form-group>
          <label>Notes</label>
          <b-form-textarea
            v-model="userData.notes"
            placeholder="Notes"
            rows="3"
          />
        </b-form-group>
      </b-col>

      <!-- Field: Access -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="User Access" rules="required">
          <b-form-group label="User Access" label-for="user-role" :state="getValidationState(validationContext)">
            <v-select v-model="userData.role" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="roleOptions"
              :reduce="val => val.value" :clearable="true" input-id="user-role"  disabled />
            <b-form-invalid-feedback :state="getValidationState(validationContext)">
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <!-- Field: Status -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="User Status" rules="required">
          <b-form-group label="Status" label-for="user-status" :state="getValidationState(validationContext)">
            <v-select v-model="userData.status" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="statusOptions" :reduce="val => val.value" :clearable="false" input-id="user-status"
                />
            <b-form-invalid-feedback :state="getValidationState(validationContext)">
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

    </b-row>

  </div>
</template>

<script>
import {
  BButton,
  BMedia,
  BAvatar,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BForm,
  BTable,
  BCard,
  BCardHeader,
  BCardTitle,
  BFormCheckbox,
  BFormInvalidFeedback,
  BFormTextarea
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email } from '@validations'
import { ref } from '@vue/composition-api'
import formValidation from '@core/comp-functions/forms/form-validation'
import { avatarText } from '@core/utils/filter'
import vSelect from 'vue-select'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Ripple from 'vue-ripple-directive'

import { mapActions, mapGetters } from 'vuex';
import UserServices from "@/services/userServices";
import BaseMixins from "@/mixins/BaseMixins";
import router from '@/router';
import store from '@/store';

export default {
  mixins: [BaseMixins],
  components: {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,
    BFormTextarea,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  data() {
    const { refFormObserver, getValidationState } = formValidation(this.userData)

    return {
      avatarText,
      refFormObserver,
      getValidationState
    }
  },
  computed: {
    // Get state variables
    ...mapGetters('user',
      [
        'roleOptions', // Get role options
        'userData', // Get user
      ]
    ),
  },
  mounted() {
    this.getAllRole();
  },
  methods: {
    ...mapActions('user',
      [
        'getAllRole', // Get all roles
      ]
    ),

    newAvatarUpload(e) {
      e.preventDefault();

      let userAvatarData = {
        id: this.userData.id
      }

      // append file
      let formData = new FormData()

      formData.append('file', e.target.files[0])
      formData.append('id', this.userData.id)

      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }

      UserServices.uploadUserAvatar(userAvatarData, formData, config).then(response => {
        if (response.status === true || response.status == 'true') {

          // Call again for get updated user image
          store.dispatch('user/getUserData', router.currentRoute.params.id);

          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
                icon: "CheckIcon",
              title: 'Notification',
              variant: 'success',
              text: response.message,
            },
          })
        } else {
          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Error',
              variant: 'danger',
              text: response.data.errors.file,
            },
          })
        }
        return Promise.resolve(response);
      });
    },
    // Remove user avatar which is exist
    removeAvatar() {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          UserServices.removeUserAvatar(this.userData.id).then(response => {
            if (response.status === true || response.status == 'true') {

              this.userData.avatar = "";

              this.$swal({
                icon: 'success',
                title: 'Removed!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // this.$toast({
              //   component: ToastificationContent,
              //   position: 'top-right',
              //   props: {
              //     title: 'Notification',
              //     icon: 'BellIcon',
              //     variant: 'success',
              //     text: response.message,
              //   },
              // })
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.data.errors.file,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    }

  },

}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
</style>
