<template>
  <b-card>
    <!-- form -->
    <b-form>
      <b-row>

        <!-- birth date -->
        <b-col md="6">
          <b-form-group label="Birth Date" label-for="birth-date">
            <flat-pickr v-model="userData.date_of_birth" class="form-control"
              :config="{ dateFormat: 'Y-m-d', maxDate: 'today' }" placeholder="YYYY-MM-DD" />
          </b-form-group>
        </b-col>
        <!--/ birth date -->

        <!-- Field: Contact Number -->
        <b-col cols="12" md="6" lg="4">
          <b-form-group label="Contact Number" label-for="contact_number">
            <b-form-input id="contact_number" v-model="userData.contact_number" />
          </b-form-group>
        </b-col>

      </b-row>

      <div class="mt-2 pt-75">
        <!-- Header: Personal Info -->
        <div class="d-flex">
          <feather-icon icon="MapPinIcon" size="19" />
          <h4 class="mb-0 ml-50">
            Address
          </h4>
        </div>
        <b-row class="mt-1">

          <!-- Field: Address Line 1 -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="Address Line 1" label-for="address-line-1">
              <b-form-input id="address-line-1" v-model="userData.address_line_1" />
            </b-form-group>
          </b-col>

          <!-- Field: Address Line 2 -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="Address Line 2" label-for="address-line-2">
              <b-form-input id="address-line-2" v-model="userData.address_line_2" />
            </b-form-group>
          </b-col>

          <!-- Field: Street -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="Street" label-for="street">
              <b-form-input id="street" v-model="userData.street" />
            </b-form-group>
          </b-col>

          <!-- Field: City -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="City" label-for="city">
              <b-form-input id="city" v-model="userData.city"  />
            </b-form-group>
          </b-col>

          <!-- Field: State -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="State" label-for="state">
              <b-form-input id="state" v-model="userData.state"  />
            </b-form-group>
          </b-col>

          <!-- Field: Country -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="Country" label-for="country">
              <b-form-input id="country" v-model="userData.country"  />
            </b-form-group>
          </b-col>

          <!-- Field: Postcode -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="Postcode" label-for="postcode">
              <b-form-input id="postcode" v-model="userData.postal_code"  />
            </b-form-group>
          </b-col>
        </b-row>
      </div>
    </b-form>
  </b-card>
</template>

<script>
import { BButton, BForm, BFormGroup, BFormInput, BRow, BCol, BCard, BFormTextarea, BFormInvalidFeedback, BFormRadioGroup, } from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import formValidation from '@core/comp-functions/forms/form-validation'
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component'
import Ripple from 'vue-ripple-directive'
import Cleave from 'vue-cleave-component'

// eslint-disable-next-line import/no-extraneous-dependencies
import 'cleave.js/dist/addons/cleave-phone.us'

import BaseMixins from "@/mixins/BaseMixins";

export default {
  components: {
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BRow,
    BCol,
    BCard,
    BFormTextarea,
    BFormInvalidFeedback,
    BFormRadioGroup,

    vSelect,
    flatPickr,
    Cleave,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [BaseMixins],
  directives: {
    Ripple,
  },
  props: {
    userData: {
      type: Object,
      default: () => { },
    },
  },
  setup(props) {
    const { refFormObserver, getValidationState } = formValidation(props.userData)

    return {


      refFormObserver,
      getValidationState,
    }
  },

}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-flatpicker.scss';
</style>
