<template>
  <validation-observer #default="{ handleSubmit }" ref="myProfileFormObserver">
    <b-form>
      <b-tabs vertical content-class="col-12 col-md-9 mt-1 mt-md-0" pills nav-wrapper-class="col-md-3 col-12"
        nav-class="nav-left">

        <!-- general tab -->
        <b-tab active>

          <!-- title -->
          <template #title>
            <feather-icon icon="UserIcon" size="18" class="mr-50" />
            <span class="font-weight-bold">General</span>
          </template>

          <my-Profile-general v-if="authUserData" :user-data="authUserData" />
        </b-tab>
        <!--/ general tab -->

        <!-- change password tab -->
        <b-tab>

          <!-- title -->
          <template #title>
            <feather-icon icon="LockIcon" size="18" class="mr-50" />
            <span class="font-weight-bold">Change Password</span>
          </template>

          <my-profile-password v-if="authUserData" :user-data="authUserData" />
        </b-tab>
        <!--/ change password tab -->

        <!-- information tab -->
        <b-tab>
          <!-- title -->
          <template #title>
            <feather-icon icon="InfoIcon" size="18" class="mr-50" />
            <span class="font-weight-bold">Information</span>
          </template>
          <my-profile-information v-if="authUserData" :user-data="authUserData" />
        </b-tab>
        <!--/ information tab -->

        <b-col cols="12">
          <b-button v-ripple.400="'rgba(255, 255, 255, 0.15)'" variant="primary" class="mt-2 mr-1"
            @click="updateUser(authUserData.id)">
            Save changes
          </b-button>
          <b-button v-ripple.400="'rgba(186, 191, 199, 0.15)'" variant="outline-secondary" type="reset" class="mt-2"
            @click="$router.go(-1)">
            Cancel
          </b-button>
        </b-col>

      </b-tabs>
    </b-form>
  </validation-observer>
</template>

<script>
import { BTabs, BTab, BRow, BCol, BButton, BForm } from 'bootstrap-vue'
import MyProfileGeneral from './MyProfileGeneral.vue'
import MyProfilePassword from './MyProfilePassword.vue'
import MyProfileInformation from './MyProfileInformation.vue'
import AuthServices from '@/services/authServices'
import UserServices from "@/services/userServices";
import BaseMixins from "@/mixins/BaseMixins";

import { ValidationProvider, ValidationObserver } from 'vee-validate'
import Ripple from 'vue-ripple-directive'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { getUserData, setUserData } from '@/auth/utils'
import store from '@/store/index.js';

export default {
  mixins: [BaseMixins],
  components: {
    BTabs,
    BTab,
    BRow,
    BCol,
    BButton,
    BForm,

    MyProfileGeneral,
    MyProfilePassword,
    MyProfileInformation,

    // Form Validation
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  data() {
    const localUserData = getUserData();

    return {
      authUserData: {
        passwordValueOld: '',
        newPasswordValue: '',
        retypePassword: '',
      },
      localUserData,
    }
  },
  beforeCreate() {
    AuthServices.myProfile().then(response => {
      if (response.status === true || response.status == 'true') {
        // Store all data in authUserData
        this.authUserData = response.data;
      }

      return Promise.resolve(response);
    });
  },
  methods: {
    // Submit user data
    updateUser(id) {
      this.$refs.myProfileFormObserver.validate().then(success => {
        if (success) {
          // check validation
          UserServices.updateUserData(this.authUserData).then(response => {
            if (response.status === true || response.status == 'true') {

              // Set new full name value
              this.localUserData.fullName = response.data.full_name;
              setUserData(this.localUserData);

              // value change in auth user full name which display in top right side
              store.commit('auth/UPDATE_USER_FULL_NAME', this.localUserData.fullName);

              // Blank password fields
              this.authUserData.passwordValueOld = '';
              this.authUserData.newPasswordValue = '';
              this.authUserData.retypePassword = '';

              // Remove password validation
              store.commit('auth/UPDATE_PASSWORD_FIELD_REQUIRED_OLD', '');
              store.commit('auth/UPDATE_PASSWORD_FIELD_REQUIRED_NEW', '');
              store.commit('auth/UPDATE_PASSWORD_FIELD_REQUIRED_RETYPE', '');

              this.moveUp();

              // Success Message
              this.showToast('Notification', '', 'success', 'You have successfully updated profile.');
            } else {
              // Error Message
              this.showToast('Error', 'XIcon', 'danger', response.message);
            }
            return Promise.resolve(response);
          });
        }
      })
    },
  }

}
</script>
