<template>
  <div>

    <!-- Media -->
    <b-media class="mb-2">
      <template #aside>
        <b-avatar ref="previewEl" :src="userData.avatar" :text="avatarText(userData.full_name)"
          :variant="`light-${resolveUserRoleVariant(userData.role)}`" size="90px" rounded />
      </template>
      <h4 class="mb-1">
        {{ userData.full_name }}
      </h4>
    </b-media>

    <!-- User Info: Input Fields -->
    <b-row v-if="userData">

      <!-- Field: First Name -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="First Name" rules="required|alpha">
          <b-form-group>
            <label>First Name <span class="text-danger">*</span></label>
            <b-form-input id="first_name" placeholder="Jone" v-model="userData.first_name"
              :state="getValidationState(validationContext)" trim disabled />
            <b-form-invalid-feedback>
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <!-- Field: Middle Name -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="Middle Name" rules="required|alpha">
          <b-form-group label="Middle Name" label-for="middle_name">
            <b-form-input id="middle_name" v-model="userData.middle_name"
              :state="getValidationState(validationContext)" trim disabled />
            <b-form-invalid-feedback>
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <!-- c:\Users\Dwarkesh\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\code\electron-sandbox\workbench\workbench.htmlField: Last Name -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="Last Name" rules="required|alpha">
          <b-form-group>
            <label>Last Name <span class="text-danger">*</span></label>
            <b-form-input id="last_name" placeholder="Watson" v-model="userData.last_name"
              :state="getValidationState(validationContext)" trim disabled />
            <b-form-invalid-feedback>
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <!-- Field: Email -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="Email" rules="required|email">
          <b-form-group>
            <label>Email <span class="text-danger">*</span></label>
            <b-form-input id="email" placeholder="felicia.reid@example.com" v-model="userData.email" type="email"
              :state="getValidationState(validationContext)" trim disabled />
            <b-form-invalid-feedback>
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <!-- Field: Role -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="User Role" rules="required">
          <b-form-group :state="getValidationState(validationContext)">
            <label>User Role <span class="text-danger">*</span></label>
            <v-select v-model="userData.role" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="roleOptions"
              :reduce="val => val.value" :clearable="true" input-id="user-role" placeholder="Select Role" disabled />
            <b-form-invalid-feedback :state="getValidationState(validationContext)">
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <!-- Field: Status -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="User Status" rules="required">
          <b-form-group :state="getValidationState(validationContext)">
            <label>Status <span class="text-danger">*</span></label>
            <v-select v-model="userData.status" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="statusOptions" :reduce="val => val.value" :clearable="false" input-id="user-status"
              placeholder="Select Status" disabled />
            <b-form-invalid-feedback :state="getValidationState(validationContext)">
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

    </b-row>

  </div>
</template>

<script>
import {
  BButton,
  BMedia,
  BAvatar,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BForm,
  BTable,
  BCard,
  BCardHeader,
  BCardTitle,
  BFormCheckbox,
  BFormInvalidFeedback,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import formValidation from '@core/comp-functions/forms/form-validation'
import { avatarText } from '@core/utils/filter'
import vSelect from 'vue-select'
import { useInputImageRenderer } from '@core/comp-functions/forms/form-utils'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Ripple from 'vue-ripple-directive'

import { mapActions, mapGetters } from 'vuex';
import UserServices from "@/services/userServices";
import BaseMixins from "@/mixins/BaseMixins";

export default {
  mixins: [BaseMixins],
  components: {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  // props: {
  //   userData: {
  //     type: Object,
  //     required: true,
  //   },
  // },
  data() {
    const refInputEl = ''
    const previewEl = ''
    const { inputImageRenderer } = useInputImageRenderer(refInputEl, base64 => {
      // eslint-disable-next-line no-param-reassign
      this.userData.avatar = base64
    })
    const { refFormObserver, getValidationState } = formValidation(this.userData)

    return {
      avatarText,
      inputImageRenderer,
      refInputEl,
      previewEl,
      refFormObserver,
      getValidationState
    }
  },
  computed: {
    // Get state variables
    ...mapGetters('user',
      [
        'roleOptions', // Get role options
        'userData', // Get user
      ]
    ),
  },
  mounted() {
    this.getAllRole();
  },
  methods: {
    ...mapActions('user',
      [
        'getAllRole', // Get all roles
      ]
    ),

    newAvatarUpload(e) {
      e.preventDefault();

      let userAvatarData = {
        id: this.userData.id
      }

      // append file 
      let formData = new FormData()

      formData.append('file', e.target.files[0])
      formData.append('id', this.userData.id)

      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }

      UserServices.uploadUserAvatar(userAvatarData, formData, config).then(response => {
        if (response.status === true || response.status == 'true') {

          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Notification',
              variant: 'success',
              text: response.message,
            },
          })
        } else {
          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Error',
              variant: 'danger',
              text: response.data.errors.file,
            },
          })
        }
        return Promise.resolve(response);
      });
    },
    // Remove user avatar which is exist
    removeAvatar() {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          UserServices.removeUserAvatar(this.userData.id).then(response => {
            if (response.status === true || response.status == 'true') {

              this.userData.avatar = "";

              this.$swal({
                icon: 'success',
                title: 'Removed!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // this.$toast({
              //   component: ToastificationContent,
              //   position: 'top-right',
              //   props: {
              //     title: 'Notification',
              //     icon: 'BellIcon',
              //     variant: 'success',
              //     text: response.message,
              //   },
              // })
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.data.errors.file,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    }

  },

}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
</style>
