<template>

  <div>
    <!-- Filters -->
    <module-list-filters :status-filter.sync="table.status" :status-options="statusOptions" />

    <module-modal :perPage="table.perPage"></module-modal>

    <!-- Table Container Card -->
    <b-card no-body class="mb-0">

      <div class="m-2">

        <!-- Table Top -->
        <b-row>

          <!-- Per Page -->
          <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
            <label>Show</label>
            <v-select v-model="table.perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions" :clearable="false" class="per-page-selector d-inline-block mx-50" />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input v-model="table.search" class="d-inline-block mr-1" placeholder="Search..." />
              <b-button variant="primary" @click="goToAddModule">
                <span class="text-nowrap">Add</span>
              </b-button>
            </div>
          </b-col>
        </b-row>

      </div>

      <b-table hover class="position-relative" :items="moduleList.modules.data" responsive :fields="tableColumns"
        primary-key="id" :sort-by.sync="table.sortBy" show-empty empty-text="No matching records found"
        :sort-desc.sync="isSortDirDesc">

        <!-- Column: Category Module Name Label -->
        <template #cell(module_name)="data">
          <b-link class="font-weight-bold d-block text-nowrap" @click="editModule(data.item.module_id)">
            {{ data.item.module_name }}
          </b-link>
        </template>

        <!-- Column: Status -->
        <template #cell(module_status)="data">
          <b-badge href="#" pill :variant="`light-${resolveUserStatusVariant(data.item.module_status)}`"
            class="text-capitalize" @click="changeStatus(data.item.module_id, data.item.module_status)">
            {{ getStatusValue(data.item.module_status) }}
          </b-badge>
        </template>

        <!-- Column: Form field -->
        <template #cell(formodule_field)="data">
          <b-button v-ripple.400="'rgba(113, 102, 240, 0.15)'" size="sm" class="my-1-custom" variant="outline-primary"
            :to="{ name: 'admin-module-field', params: { id: data.item.module_id } }">
            <span class="text-nowrap">Form Field</span>
          </b-button>

          <b-button v-ripple.400="'rgba(113, 102, 240, 0.15)'" size="sm" class="my-1-custom" variant="outline-primary"
            :to="{
              name: 'admin-module-question',
              params: { id: data.item.module_id },
            }">
            Questions
          </b-button>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">

            <template #button-content>
              <feather-icon icon="MoreVerticalIcon" size="16" class="align-middle text-body" />
            </template>
            <b-dropdown-item @click="viewModule(data.item.module_id)">
              <feather-icon icon="FileTextIcon" />
              <span class="align-middle ml-50">Details</span>
            </b-dropdown-item>

            <b-dropdown-item @click="editModule(data.item.module_id)">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Edit</span>
            </b-dropdown-item>

            <b-dropdown-item @click="deleteData(data.item.module_id)">
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>

      </b-table>
      <div class="mx-2 mb-2">
        <b-row>

          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-muted">Showing {{ moduleList.modules.from }} to {{
              moduleList.modules.to
            }} of {{
  moduleList.modules.total
}}
              entries</span>
          </b-col>
          <!-- Pagination -->
          <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">

            <b-pagination v-model="table.page" :total-rows="moduleList.total" :per-page="table.perPage" first-number
              last-number class="mb-0 mt-1 mt-sm-0" prev-class="prev-item" next-class="next-item">
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>

          </b-col>

        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import ModuleModal from '../ModuleModal.vue'
import ModuleListFilters from './ModuleListFilters.vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Ripple from 'vue-ripple-directive'
import store from '@/store/index'
import router from '@/router';

import { mapActions, mapGetters } from 'vuex';
import BaseMixins from "@/mixins/BaseMixins";

export default {
  mixins: [BaseMixins],
  components: {
    ModuleModal,
    ModuleListFilters,

    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,

    vSelect,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      table: {
        perPage: 25,
        search: '',
        sortBy: null,
        sortDesc: true,
        page: 1,
        status: '',
        categoryId: this.$route.params.category_id,
        moduleIsDefault: 'Y',
      },
      perPageOptions: [10, 25, 50, 100],
      tableColumns: [
        { label: 'Module Name', key: 'module_name', sortable: true },
        { label: 'Category Name', key: 'category.category_name' },
        { label: 'Created Date', key: 'created_at_format' },
        { label: 'Modified Date', key: 'updated_at_format' },
        { label: 'Status', key: 'module_status', sortable: true },
        { label: "", key: "formodule_field" },
        { label: 'Actions', key: 'actions', sortable: false },
      ],
      isSortDirDesc: true,
      modalButtonName: 'Add',
    };
  },
  computed: {
    // Get state variables
    ...mapGetters('module',
      [
        'categoryName',
        'moduleList', // Get module list
      ]
    ),
  },
  methods: {
    ...mapActions('module',
      [
        'getModuleList',
        'getModuleData',
        'changeModuleStatus',
        'deleteModule'
      ]
    ),
    refetchData() {
      this.getModuleList(this.table);
    },
    goToAddModule() {
      const moduleData = {
        module_id: '',
        module_category_id: this.$route.params.category_id,
        module_module_id: '',
        module_name: '',
        module_prefix: '',
        module_desc: '',
        module_inspection_schedule: "",
        module_icon: '',
        module_has_activity: true,
        module_has_image: true,
        module_allow_duplicates: '',
        module_status: true,
      };

      // Display category dropdown
      if (moduleData.module_category_id > 0) {
        store.commit('module/UPDATE_IS_CATEGORY_DISPLAY', false);
      } else {
        store.commit('module/UPDATE_IS_CATEGORY_DISPLAY', true);
      }

      // Set value for modal button
      store.commit('module/UPDATE_MODAL_BUTTON_NAME', this.modalButtonName);
      store.commit('module/UPDATE_VIEW_MODE', false);

      //Reset field data
      store.commit('module/UPDATE_MODULE_DATA', moduleData);

      // Open module add modal
      this.$bvModal.show("module-modal");
    },
    editModule(moduleId) {
      // Display category dropdown
      store.commit('module/UPDATE_IS_CATEGORY_DISPLAY', true);

      // Get template based on module_id
      this.getModuleData(moduleId);

      // Set variable value
      store.commit('module/UPDATE_MODAL_BUTTON_NAME', 'Update');
      store.commit('module/UPDATE_VIEW_MODE', false);
      store.commit('module/UPDATE_EDIT_MODE', true);

      // Open module modal
      this.$bvModal.show('module-modal');
    },
    viewModule(moduleId) {
      // Get template based on module_id
      this.getModuleData(moduleId);

      // Set variable value
      store.commit('module/UPDATE_MODAL_BUTTON_NAME', 'View')
      store.commit('module/UPDATE_VIEW_MODE', true);

      this.$bvModal.show('module-modal');
    },
    // Change user status
    changeStatus(id, status) {
      this.$swal({
        title: 'Are you sure?',
        text: "Do you want to change module status?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, change it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          // check validation
          this.changeModuleStatus({ id: id, status: status }).then(response => {
            if (response.status === true || response.status == 'true') {
              this.$swal({
                icon: 'success',
                title: 'Changed!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // Refetch table data
              this.refetchData()
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    },
    // Template Field soft delete
    deleteData(id) {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
            this.$swal({
          title: "<span style='color:white'>WARING!!</span>",
          html: "<p style='color:white'>If you delete this module you will delete, module fields and questions in this module. You will not be able to undo this action. If in doubt contact your administrator.</p>",
          icon: "warning",
          background: '#FF0000',
          color: '#FFFFFF',
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          customClass: {
            confirmButton: "btn btn-primary",
            cancelButton: "btn btn-outline-light ml-1 text-black",
            icon: "text-white border border-white "
          },
          buttonsStyling: false,
        }).then((secondResult) => {
        if(secondResult.value){
          // check validation
          this.deleteModule(id).then(response => {
            if (response.status === true || response.status == 'true') {
              this.$swal({

                title: 'Deleted!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // Refetch table data
              this.refetchData()
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.message,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
        })
        }
      })
    },
  },
  mounted() {
    // Get all default template
    this.getModuleList(this.table)
      .then(response => {
        if (response.status === true || response.status == 'true') {
          if (response.data.categoryName != '') {
            this.$route.meta.pageTitle = response.data.categoryName;

            // Add a temporary query parameter.
            this.$router.replace({ query: { temp: Date.now() } })
            this.$router.replace({ query: '' })
          }
        }
      }
      )
      .catch((error) => {
        this.showToast(
          "Error",
          "XIcon",
          "danger",
          error.data.message
        );
      });
  },
  watch: {
    table: {
      handler() {
        this.getModuleList(this.table);
      },
      deep: true,
    },
    '$route'(to, from) {
      if (to.params.category_id > 0) {
        this.table.categoryId = from.params.category_id;
      } else {
        this.table.categoryId = '';
      }
      // Get all default template
      this.getModuleList(this.table).catch((error) => {
        this.showToast(
          "Error",
          "XIcon",
          "danger",
          error.data.message
        );
      });
    }
  },
}
</script>
