<template>
  <b-card no-body class="mb-0">
    <div class="m-2">
      <validation-observer ref="simpleRules">
        <b-form>
          <b-row class="align-items-center select-custom-user-main">
            <b-col md="4" class="select-custom-user">
              <label>Users</label>
              <b-form-group class="mb-0">
                <validation-provider #default="{ errors }" name="Users" rules="required">
                  <b-form-select
                    v-model="selectUser"
                    :state="errors.length > 0 ? false : null"
                    :options="noSelected"
                    :placeholder="'Please select User'"
                    :reduce="(val) => val.value"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>
            <!-- submit button -->
            <b-col md="2">
              <b-button variant="primary" type="submit"   @click.prevent="addUser">
                Add User
              </b-button>
            </b-col>
            <b-col md="2"></b-col>
            <b-col md="4">
                <div class="d-flex align-items-center justify-content-end">
                    <b-form-input v-model="array.searchUser" class="d-inline-block mr-1" placeholder="Search User..." />
                </div>
            </b-col>
          </b-row>
        </b-form>
      </validation-observer>


      <b-col cols="12" class="my-2 px-0" >
        <hr />
      </b-col>
      <app-collapse accordion :type="collapseType" class="custom-acc-tab test123">
        <app-collapse-item v-for="(obj, i) in selectedUser" :title="obj.text" :key="'A'+i">
          <div>
             <v-tree
              v-if="obj.data[0].children.length > 0"
              :data="obj.data"
              class="custom-tree-set"
              v-model="initSelected"
              getNodes
              @node-check="nodeChecked(i)"
              ref="trees"
              :checked="true"
              :multiple="true"
              :key="obj.value"
            ></v-tree>
            <div v-else class="text-center my-2">No Selected Category/Module</div>
          </div>
          <div class="float-right my-2">
            <b-button :variant="getVariantColor(permissionChange)" :disabled="permissionChange" @click="savePermissionUser(obj.value)" v-if="obj.data[0].children.length > 0">
              Save Permissions
            </b-button>
            &nbsp;
            <b-button variant="danger" @click="deleteData(obj.value)">
              Delete User
            </b-button>
          </div>
        </app-collapse-item>
      </app-collapse>
    </div>
  </b-card>
</template>

<script>
import {
  BCard,
  BForm,
  BRow,
  BCol,
  BFormGroup,
  BButton,
  BFormSelect,
  BFormRadio,
  BFormRadioGroup,
  BFormCheckbox,
  BTabs,
  BTab,
  BCardText,
  BFormInput
} from "bootstrap-vue";

import { ValidationProvider, ValidationObserver } from "vee-validate";
import SubSiteListFilters from "./AreaListFilters.vue";
import BCardCode from "@core/components/b-card-code/BCardCode.vue";
import BaseMixins from "@/mixins/BaseMixins";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import formValidation from "@core/comp-functions/forms/form-validation";
import { mapActions, mapGetters } from "vuex";
import router from "@/router";
import { required } from "@validations";
import { VTree, VSelectTree } from "vue-tree-halower";
import "vue-tree-halower/dist/halower-tree.min.css";
import vSelect from "vue-select";
import AppCollapse from "@core/components/app-collapse/AppCollapse.vue";
import AppCollapseItem from "@core/components/app-collapse/AppCollapseItem.vue";
import store from "@/store/index";

export default {
  mixins: [BaseMixins],
  components: {
    ToastificationContent,
    SubSiteListFilters,
    VTree,
    VSelectTree,
    vSelect,
    BCardCode,
    BCard,
    ValidationProvider,
    ValidationObserver,
    BForm,
    BRow,
    BCol,
    BFormGroup,
    BButton,
    BFormSelect,
    BFormCheckbox,
    BFormRadio,
    BFormGroup,
    AppCollapse,
    AppCollapseItem,
    BFormRadioGroup,
    BFormRadio,
    BFormGroup,
    BTabs,
    BTab,
    BCardText,
    BFormInput
  },

  data() {
    const { refFormObserver, getValidationState } = formValidation(this.selected);

    return {
      collapseType: "margin",
      dir: "ltr",
      current: "tree",
      dynamic: '',
      required,
      selectUser: null,

      noSelected: [],
      selectedUser: [],
      initSelected: [],
      categoryModule: [],
      array: {
        subSite_id: router.currentRoute.params.id,
        searchUser: null,
      },
      permissionChange: true,
      userChange: true,
    };
  },
  computed: {
    // Get state variables
    ...mapGetters("areaUserPermission", ["templateName"]),
    ...mapGetters("categoryModule", ["categoryModuleList"]),
    class() {
      return darkMode ? "dark-theme" : "light-theme";
    },
  },
  methods: {
    ...mapActions("categoryModule", ["getAllCategoryModule"]),
    ...mapActions("user", ["getAllSiteUser"]),
    ...mapActions("areaUserPermission", [
      "updateSubSiteUserPermission",
      "getSelectedCategoryModule",
      "deleteSubSiteUser",
      "saveSubSiteUserPermission",
    ]),
    getVariantColor(permissionChange) {
      return permissionChange ? "success" : "primary";
    },
    refetchData() {
      this.getAllSiteUser(this.array)
        .then((response) => {
          this.selectedUser = response.data.selectedUser;
          this.noSelected = response.data.noSelectedUser;
        this.permissionChange = true;

        })
        .catch((error) => {
          this.showToast("Error", "XIcon", "danger", error.data.message);
        });
    },
    nodeChecked(id) {
        this.permissionChange = false;
        this.initSelected = this.$refs.trees[id].getCheckedNodes();
    },
    addUser() {
      this.$refs.simpleRules.validate().then((success) => {
        if (success) {
            this.updateSubSiteUserPermission({
            id: this.array.subSite_id,
            user_id: this.selectUser,
                }).then((response) => {
                    //console.warn(response);
                    if (response.status === true || response.status == "true") {
                        this.selectUser = null,
                    this.$toast({
                        component: ToastificationContent,
                        position: "top-right",
                        props: {
                        icon: "CheckIcon",
                        variant: "success",
                        text: response.message,
                        },
                    });
                    this.$bvModal.hide("subSite-modal");
                    this.refetchData();
                    this.$refs.simpleRules.reset()
                    }
                    return Promise.resolve(response);
                });


        }
      });
    },
    // User soft delete
    deleteData(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          this.deleteSubSiteUser({
            id: parseInt(this.array.subSite_id),
            user_id: id,
                }).then((response) => {
            if (response.status === true || response.status == "true") {
                this.permissionChange = true;
                this.$toast({
                    component: ToastificationContent,
                    position: "top-right",
                    props: {
                        title: `Notification`,
                        variant: "success",
                        icon: 'CheckIcon',
                        text: response.message,
                        },
                });

              // Refetch table data
              this.refetchData();
            } else {
              this.$toast({
                component: ToastificationContent,
                position: "top-right",
                props: {
                  title: "Error",
                  variant: "danger",
                  icon: "XIcon",
                  text: response.message,
                },
              });
            }
            return Promise.resolve(response);
          }).catch((error) => {
        this.showToast("Error", "XIcon", "danger", error.data.message);
      });
        }
      });
    },
    savePermissionUser(user_id) {
      // this.initSelected = this.$refs.tree.getCheckedNodes();
      this.saveSubSiteUserPermission({
        id: router.currentRoute.params.id,
        data: this.initSelected,
        user_id: user_id,
      }).then((response) => {
        if (response.status === true || response.status == "true") {
            this.permissionChange = true;
         // this.refetchData();
          this.$toast({
            component: ToastificationContent,
            position: "top-right",
            props: {
                icon: "CheckIcon",
              variant: "success",
              text: response.message,
            },
          });
        }
        return Promise.resolve(response);
      });
    },
  },
  updated() {
    this.$route.meta.pageTitle = "Manage Users / "+this.templateName;

    // Add a temporary query parameter.
    this.$router.replace({ query: { temp: Date.now() } });
  },
  mounted() {
    // Get all Category/Module
    this.getSelectedCategoryModule(this.array)
      .then((response) => {
      })
      .catch((error) => {
        this.showToast("Error", "XIcon", "danger", error.data.message);
      });
    //Get All Users Userlist form listing user
    this.getAllSiteUser(this.array)
      .then((response) => {
        this.permissionChange = true;
        this.selectedUser = response.data.selectedUser;
        this.noSelected = response.data.noSelectedUser;

      })
      .catch((error) => {
        this.showToast("Error", "XIcon", "danger", error.data.message);
      });
  },
  watch: {
    array : {
        handler() {
            this.getAllSiteUser(this.array).then((response) => {
                this.selectedUser = response.data.selectedUser;
            });
        },
        deep: true,
    },

  }
};
</script>
<style lang="scss" scoped>
@import "~@resources/scss/vue/libs/tree.scss";
@import "~@resources/scss/vue/libs/vue-select.scss";
</style>
