<template>
  <div>
    <!-- Filters -->
    <category-list-filters
      :status-filter.sync="table.status"
      :status-options="statusOptions"
    />

    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col
            cols="12"
            md="6"
            class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
          >
            <label>Show</label>
            <v-select
              v-model="table.perPage"
              :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
            />
            <label>entries</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input
                v-model="table.search"
                class="d-inline-block mr-1"
                placeholder="Search..."
              />
              <b-button variant="primary" @click="add()">
                <span class="text-nowrap">Add</span>
              </b-button>
            </div>
          </b-col>
        </b-row>
      </div>
      <!-- modal create-->
      <b-modal
        id="modal-create"
        cancel-variant="outline-secondary"
        ok-title="Add Category"
        cancel-title="Close"
        centered
        title="Category Form"
        hide-footer
        header-class="justify-content-center"
      >
        <!-- Alert - Server side error -->
        <error-message></error-message>
        <validation-observer ref="simpleRules">
          <b-form>
            <b-row>
              <b-col md="12">
                <b-form-group>
                  <label>Category Name *</label>
                  <validation-provider
                    #default="{ errors }"
                    name="Category Name"
                    rules="required"
                  >
                    <b-form-input
                      v-model="category.category_name"
                      :state="errors.length > 0 ? false : null"
                      placeholder="Category Name"
                    />
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <b-col md="12">
                <b-form-group>
                  <label>Description</label>
                  <validation-provider #default="{ errors }" name="Description">
                    <b-form-textarea
                      v-model="category.category_desc"
                      :state="errors.length > 0 ? false : null"
                      placeholder="Description"
                      rows="3"
                    />

                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <b-col md="12">
                <b-form-group class="change-status">
                  <label>Active</label>
                  <validation-provider #default="{ errors }" name="Active" vid="Active">
                    <b-form-checkbox
                      checked="true"
                      name="check-button"
                      v-model="category.category_status"
                      switch
                      :state="errors.length > 0 ? false : null"
                      inline
                    >
                    </b-form-checkbox>
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- submit button -->
              <b-col offset-md="4">
                <b-button variant="primary" type="submit" @click.prevent="validationForm">
                  {{ isEditing ? "Update" : "Add" }}
                </b-button>
                <b-button
                  v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                  variant="outline-secondary"
                  @click.prevent="close()"
                >
                  Cancel
                </b-button>
              </b-col>
            </b-row>
          </b-form>
        </validation-observer>
      </b-modal>

      <!-- table -->
      <b-table
        hover
        ref="refUserListTable"
        class="position-relative"
        :items="categoryList.categories.data"
        responsive
        :fields="tableColumns"
        primary-key="id"
        :sort-by.sync="table.sortBy"
        show-empty
        empty-text="No matching records found"
        :sort-desc.sync="isSortDirDesc"
      >
        <!-- Column: category_name -->
        <template #cell(category_name)="data">
          <b-media vertical-align="center">
            <b-link
              @click="editList(data.item.category_id)"
              class="font-weight-bold d-block text-nowrap"
            >
              {{ data.item.category_name }}
            </b-link>
          </b-media>
        </template>

        <!-- Column: Contact Number -->
        <template #cell(category_desc)="data">
          <div class="text-nowrap">
            <span class="align-text-top text-capitalize">{{
              data.item.category_desc
            }}</span>
          </div>
        </template>

        <!-- Column: Status -->
        <template #cell(category_status)="data">
          <b-badge
            href="#"
            pill
            :variant="`light-${resolveUserStatusVariant(data.item.category_status)}`"
            class="text-capitalize"
            @click="changeStatus(data.item.category_id, data.item.category_status)"
          >
            {{ getStatusValue(data.item.category_status) }}
          </b-badge>
        </template>

        <!-- Column: Status -->
        <template #cell(sub_site)>
          <b-button v-ripple.400="'rgba(113, 102, 240, 0.15)'" variant="outline-primary">
            From Field
          </b-button>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown variant="link" no-caret :right="$store.state.appConfig.isRTL">
            <template #button-content>
              <feather-icon
                icon="MoreVerticalIcon"
                size="16"
                class="align-middle text-body"
              />
            </template>
            <!-- <b-dropdown-item :to="{ name: 'users-view', params: { id: data.item.id } }">
                  <feather-icon icon="FileTextIcon" />
                  <span class="align-middle ml-50">Details</span>
                </b-dropdown-item> -->

            <b-dropdown-item @click="editList(data.item.category_id)">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Edit</span>
            </b-dropdown-item>

            <b-dropdown-item @click="deleteSite(data.item.category_id)">
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-start"
          >
            <span class="text-muted"
              >Showing {{ categoryList.categories.from }} to
              {{ categoryList.categories.to }} of
              {{ categoryList.categories.total }} entries</span
            >
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-end"
          >
            <b-pagination
              v-model="table.page"
              :total-rows="categoryList.total"
              :per-page="table.perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BModal,
  BButton,
  BRow,
  VBModal,
  BAlert,
  BCol,
  BAvatar,
  BFormCheckbox,
  BForm,
  BBadge,
  BPagination,
  BFormGroup,
  BMedia,
  BFormTextarea,
  BFormInput,
  BFormSelect,
  BDropdown,
  BDropdownItem,
  BTable,
  BLink,
} from "bootstrap-vue";
import { avatarText } from "@core/utils/filter";
import vSelect from "vue-select";
import CategoryListFilters from "./CategoryListFilters.vue";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import Ripple from "vue-ripple-directive";
import BCardCode from "@core/components/b-card-code/BCardCode.vue";
import { mapActions, mapGetters } from "vuex";
import CategoryServices from "@/services/categoryServices";
import BaseMixins from "@/mixins/BaseMixins";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, email, confirmed, password } from "@validations";
import store from "@/store/index";
import ErrorMessage from "@/views/error/ErrorMessage";
export default {
  mixins: [BaseMixins],
  components: {
    BCard,
    CategoryListFilters,
    ValidationProvider,
    ValidationObserver,
    BCardCode,
    BAvatar,
    BRow,
    BCol,
    BBadge,
    BMedia,
    BButton,
    BPagination,
    BFormGroup,
    BFormInput,
    BFormSelect,
    BDropdown,
    BDropdownItem,
    BFormTextarea,
    BModal,
    VBModal,
    BFormCheckbox,
    BAlert,
    BLink,
    BForm,
    BTable,
    vSelect,
    ToastificationContent,
    ErrorMessage,
  },
  directives: {
    "b-modal": VBModal,
    Ripple,
  },
  data() {
    return {
      category: {
        category_name: "",
        category_desc: "",
        category_status: true,
      },

      required,
      password,
      email,
      confirmed,
      avatarText,
      table: {
        perPage: 25,
        search: "",
        sortBy: "category_name",
        sortDesc: true,
        page: 1,
        role: "",
        status: "",
      },
      refUserListTable: null,
      perPageOptions: [5, 10, 15, 50, 100],
      tableColumns: [
        { label: "Name", key: "category_name", sortable: true },
        { label: "Created Date", key: "created_at_format", sortable: true },
        { label: "Modified Date", key: "updated_at_format", sortable: true },
        { label: "status", key: "category_status", sortable: true },
        { label: "", key: "sub_site" },
        { key: "actions" },
      ],
      isSortDirDesc: true,
      currentPage: 1,
      totalCategories: this.categoryList != null ? this.categoryList.total : 0,
      isEditing: false,
    };
  },
  computed: {
    // Get state variables
    ...mapGetters("category", ["categoryList"]),
  },

  methods: {
    ...mapActions("category", [
      "SAVE_CATEGORYS_ACTION",
      "getAllCategory",
      "getCategoryData",
      "updateCategory",
    ]),
    // refetchData() {
    //   this.getAllCategory(this.table);
    //   //this.refUserListTable.value.refresh()
    // },
    validationForm() {
      this.$refs.simpleRules.validate().then((success) => {
        if (success) {
          if (this.isEditing) {
            this.updateCategory({
              id: this.catid,
              ...this.category,
            })
              .then((response) => {
                //alert("success");
                console.warn(response);
                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    variant: "success",
                    text: response.message,
                  },
                });
                this.$bvModal.hide("modal-create");
                this.refetchData();
                this.isEditing = false;
              })
              .catch((error) => {
                this.$bvModal.show("modal-create");
                if (error.response.status == 422) {
                  this.$toast({
                    component: ToastificationContent,
                    position: "top-right",
                    props: {
                      icon: "XIcon",
                      variant: "danger",
                      text: error.data.message[0],
                    },
                  });
                } else {
                  this.$toast({
                    component: ToastificationContent,
                    position: "top-right",
                    props: {
                        icon: "XIcon",
                      variant: "danger",
                      text: error.data.message[0],
                    },
                  });
                }
              });
          } else {
            this.SAVE_CATEGORYS_ACTION({
              ...this.category,
            })
              .then((response) => {
                // console.warn(response.message);
                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    icon: "CheckIcon",
                    variant: "success",
                    text: response.message,
                  },
                });
                this.$bvModal.hide("modal-create");
                this.refetchData();
                this.isEditing = false;
                //   this.GET_CURRENT_PRICE_ACTION({
                //     perPage: 25,
                //     search: "",
                //     sortBy: "id",
                //     sortDesc: true,
                //     page: 1,
                //   });
              })
              .catch((error) => {
                if (error.status == 422) {
                  this.$toast({
                    component: ToastificationContent,
                    position: "top-right",
                    props: {
                        icon: "XIcon",
                      variant: "danger",
                      text: error.data.message[0],
                    },
                  });
                } else {
                  this.$toast({
                    component: ToastificationContent,
                    position: "top-right",
                    props: {
                      icon: "XIcon",
                      variant: "danger",
                      text: error.data.message[0],
                    },
                  });
                }
              });
          }
        }
      });
    },
    add() {
      this.category = {
        category_name: "",
        category_desc: "",
        category_status: true,
      };
      this.$bvModal.show("modal-create");
      this.isEditing = false;
    },
    close() {
      this.isEditing = false;
      this.$bvModal.hide("modal-create");
      this.category = {
        category_name: "",
        category_desc: "",
        category_status: true,
      };
    },
    editList(id) {
      this.isEditing = true;
      this.getCategoryData(id)
        .then((response) => {
          this.catid = response.data.category_id;
          //console.warn(response);
          if (response.data.category_status == "Y") {
            this.category = {
              category_name: response.data.category_name,
              category_desc: response.data.category_desc,
              category_status: true,
            };
            //this.status = true;
          } else {
            this.category = {
              category_name: response.data.category_name,
              category_desc: response.data.category_desc,
              category_status: false,
            };
          }

          this.$bvModal.show("modal-create");
        })
        .catch((error) => {
          this.showToast("Error", "XIcon", "danger", error.data.message);
        });
    },
    refetchData() {
      this.getAllCategory(this.table);
      //this.refUserListTable.value.refresh();
    },
    goToAddUser() {
      this.$router.push({ name: "admin-user-add" });
    },
    // Change user status
    changeStatus(id, status) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, change it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          CategoryServices.changeStatus({ id: id, status: status }).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$swal({
                title: "Changed!",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });

              // Refetch table data
              this.refetchData();
            } else {
              this.$toast({
                component: ToastificationContent,
                position: "top-right",
                props: {
                  title: "Error",
                  variant: "danger",
                  icon: "XIcon",
                  text: response.message,
                },
              });
            }
            return Promise.resolve(response);
          });
        }
      });
    },
    // User soft delete
    deleteSite(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        customClass: {
          confirmButton: "btn btn-primary",
          cancelButton: "btn btn-outline-danger ml-1",
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          // check validation
          CategoryServices.deleteCategoryData(id).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$swal({
                title: "Deleted!",
                text: response.message,
                customClass: {
                  confirmButton: "btn btn-success",
                },
              });

              // Refetch table data
              this.refetchData();
            } else {
              this.$toast({
                component: ToastificationContent,
                position: "top-right",
                props: {
                  title: "Error",
                  variant: "danger",
                  icon: "XIcon",
                  text: response.message,
                },
              });
            }
            return Promise.resolve(response);
          });
        }
      });
    },
  },
  mounted() {
    this.isEditing = false;
    // Get all sites
    this.getAllCategory(this.table).catch((error) => {
      this.showToast("Error", "XIcon", "danger", error.data.message);
    });
  },
  watch: {
    table: {
      handler() {
        this.getAllCategory(this.table);
      },
      deep: true,
    },
  },
};
</script>

<style lang="scss" scoped>

@import "~@resources/scss/vue/libs/vue-select.scss";
</style>
