/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

// New CSS Start
.change-status {
    div {
        display: flex;

        label {
            margin-bottom: 0;
            line-height: 2;
        }

        .custom-control {
            margin-left: 10px;
        }
    }
}

.modal-body {
    padding: 30px;
}

.my-1-custom {
    margin-top: 3px;
    margin-bottom: 3px;
}

.custom-tree-set {
    &.halo-tree {
        .check {
            left: 0;
            top: 0;
            width: 17px;
            height: 17px;
        }

        .tree-expand {
            width: 20px;
            height: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            transition: all .5s ease;

            &:hover {
                background: #005abe;
                color: #fff;
            }
        }

        .node-selected {
            border: none;
            background-color: transparent;
        }

        .node-title {
            font-size: 16px;
            font-weight: 500;

            &:hover {
                background: transparent;
                color: var(--primary);
            }
        }

        .inputCheck {
            width: 18px;
            height: 18px;

            &.box-checked {
                border: none;
                background: #005abe;

                &:after {
                    font-size: 12px;
                    color: #fff;
                    font-weight: bold;
                    width: 18px;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: rotate(7deg);
                }
            }
        }

        li {
            span.inputCheck {
                transition: all .5s ease;

                &:hover {
                    background-color: #044b99;
                }
            }
        }
    }
}

.main-menu {
    .navbar-header {
        height: auto;

        .navbar-brand {
            align-items: flex-start;
            white-space: inherit;

            .brand-text {
                padding-left: 10px !important;
                font-size: 18px;
            }
        }
    }
}

.select-custom-user-main {
    button {
        margin-top: 7px;
    }

    .select-custom-user {
        position: relative;
        padding-bottom: 15px;

        small.text-danger {
            position: absolute;
            top: 90%;
            left: 15px;
            padding-top: 0;
        }
    }
}


.modal-dialog {
    .v-select {
        &.vs--searchable {
            ul {
                // max-height: 130px !important;
                position: relative;
                z-index: 9999;
            }
        }
    }
}

.vs__dropdown-menu {
    max-height: 250px !important;
}

.table-responsive {
    table {
        .dropdown-menu {
            transform: translate(-15px, -10px) !important;
        }
    }
}

// Dropdown Input Space issue solution start

.is-valid .vs--single .vs__dropdown-toggle input {
    display: none;
}

.is-valid .vs--single.vs--open .vs__dropdown-toggle input {
    display: block;
}

.modal .v-select.vs--single .vs__selected+input {
    display: none;
}

.modal .v-select.vs--open.vs--single .vs__selected+input {
    display: block;
}

.vs__selected-options {
    max-width: 90%;

    .vs__selected {
        max-width: 90%;
    }
}

// Dropdown Input Space issue solution end

.v-select.vs--single .vs__selected {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.vs__dropdown-option--selected::after {
    background: none;
}

.per-page-selector {
    width: 90px;
}

.custom-color-picker {
    position: absolute;
    z-index: 3;
    width: 93% !important;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.v-select.vs--single.vs--searchable ul.vs__dropdown-menu {
    overflow-y: auto !important;
    overflow-x: hidden;
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: calc(100% + 1rem);
    z-index: 1000;
    width: 100%;
    min-width: 160px;
    list-style: none;

    li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &::after {
            display: none;
        }
    }
}

// New CSS End

// dropdown css start by Jinal
// for the dropdown in the add asset modal to select color
#modal-add-asset .v-select.vs--open.vs--single.vs--searchable ul li {
    color: #000 !important;
    text-align: center !important;
}

#modal-add-asset .v-select.vs--open.vs--single.vs--searchable ul li:nth-child(1) {
    color: #fff !important;
    background-color: rgb(255, 0, 0) !important;
}

#modal-add-asset .v-select.vs--open.vs--single.vs--searchable ul li:nth-child(2) {
    background-color: rgb(76, 175, 80) !important;
}

#modal-add-asset .v-select.vs--open.vs--single.vs--searchable ul li:nth-child(3) {
    color: #fff !important;
    background-color: rgb(0, 0, 255) !important;
}

#modal-add-asset .v-select.vs--open.vs--single.vs--searchable ul li:nth-child(4) {
    background-color: rgb(255, 255, 0) !important;
}

#modal-add-asset .v-select.vs--open.vs--single.vs--searchable ul li:nth-child(5) {
    color: #fff !important;
    background-color: rgb(128, 128, 128) !important;
}

// for the dropdown in the asset detail modal to select color
#asset-detail-sidebar .ad-color-panel .v-select.vs--open.vs--single.vs--searchable ul li {
    color: #000 !important;
    text-align: center !important;
}

#asset-detail-sidebar .ad-color-panel .v-select.vs--open.vs--single.vs--searchable ul li:nth-child(1) {
    color: #fff !important;
    background-color: rgb(255, 0, 0) !important;
}

#asset-detail-sidebar .ad-color-panel .v-select.vs--open.vs--single.vs--searchable ul li:nth-child(2) {
    background-color: rgb(76, 175, 80) !important;
}

#asset-detail-sidebar .ad-color-panel .v-select.vs--open.vs--single.vs--searchable ul li:nth-child(3) {
    color: #fff !important;
    background-color: rgb(0, 0, 255) !important;
}

#asset-detail-sidebar .ad-color-panel .v-select.vs--open.vs--single.vs--searchable ul li:nth-child(4) {
    background-color: rgb(255, 255, 0) !important;
}

#asset-detail-sidebar .ad-color-panel .v-select.vs--open.vs--single.vs--searchable ul li:nth-child(5) {
    color: #fff !important;
    background-color: rgb(128, 128, 128) !important;
}

// dropdown css end
// map css start
.map-wrapper .map-label-wrapper {
    padding-bottom: 15px;
}

.map-label-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
}

.map-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 20px;
}

.map-inner button {
    width: max-content;
}

html .map-label-wrapper button.btn.btn-flat-primary.btn-secondary {
    background-color: transparent !important;
    border: unset !important;
    padding: 0;
}

html .map-label-wrapper button.btn.btn-flat-primary.btn-secondary svg {
    fill: #005abe !important;
    stroke: #005abe;
}

// map css end
// Asset Listing Color Field By Jay Supeda
.asset-listing-color {
    width: 80px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 0.358rem;
}

.asset-listing-color span {
    display: block;
}

.flatpickr-wrapper .custom-date-block {
    display: block;
}


// Top bar CSS Start
.top-main-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end !important;

    @media(max-width: 768px) {
        flex-wrap: wrap;
    }
}

.top-filters-sec {
    min-width: 80%;
}

// Top bar CSS ENnd
.dashboard-asset-summary,
.match-height,
.dashboard-info-card-outer-wrapper {
    @media (max-width: 1366px) {
        .status-badge-wrapper {
            white-space: inherit !important;
        }
    }

    p {
        font-size: 16px;
        color: rgb(65, 65, 65);
        margin-bottom: 8px;
        font-weight: 500;
    }

    h5 {
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 0;
    }

    .header-wrapper {
        font-weight: 600;
        font-size: 16px;
    }

    .card-body-wrapper {
        background-color: #ffffff !important;
        padding: 10px;
        justify-content: center;
        border-radius: 6px;
        box-shadow: none;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .card-border-light {
        border: 1px solid #c6c6c6;
    }

    .dashboard-asset-card-calendar {
        display: flex;
        gap: 14px;
    }

    .view-asset-btn {
        font-weight: bold;
        font-size: 14px;
        padding: 0;
        display: flex;
    }

    .dashboard-asset-summary-card {
        .card-body {
            padding: 15px;
        }
    }

}

.dashboard-asset-summary {
    margin-top: 90px;

    .col-md-2 {
        .col-md-12 {
            &:last-child {
                .card {
                    margin-bottom: 0 !important;
                }
            }
        }
    }

    .col-md-6 {

        .card {
            &:last-child {
                margin-bottom: 0 !important;
            }
        }

    }

    .dashboard-summary-cards {
        @media (max-width: 767px) {
            gap: 10px;
        }

    }
}

.match-height {
    .col-md-6 {
        &:nth-child(3) {
            .card {
                margin-bottom: 0 !important;

                @media(max-width: 992px) {
                    margin-bottom: 1.5rem !important;
                }
            }
        }

        &:nth-child(4) {
            .card {
                margin-bottom: 0 !important;
            }
        }
    }
}

.dashboard-info-card-inner-wrapper {
    p {
        margin-bottom: 4px;
    }
}

.dashboard-info-card-outer-wrapper {
    p {
        font-size: 14px;

        &.dashboard-card-heading {
            min-height: 48px;
        }
    }

    .card-wrapper-inner {
        .card-body {
            padding: 0.5rem;
        }
    }

    .card-wrapper-inner-large {
        .card-body {
            padding: 0.5rem;
            min-height: 197px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .card-header {
            text-align: center;
            justify-content: center;
            padding: 0;
            padding-top: 10px;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            color: #5e5873;
            font-size: 1.5rem;
        }

    }

    .last-card-wrapper {
        @media(max-width:767px) {
            margin-bottom: 2rem;
        }

        margin-bottom: 0;
    }
}

.dashboard-main-wrapper {
    .bg-warning {
        background-color: #ffc107 !important;
    }

    .text-warning {
        color: #ffc107 !important;
    }

    .bg-success {
        background-color: #28a745 !important;
    }

    .text-success {
        color: #28a745 !important;
    }

    .bg-primary {
        background-color: rgb(0, 90, 190) !important;
    }

    .text-primary {
        color: rgb(0, 90, 190) !important;
    }

    .bg-secondary {
        background-color: #6c757d !important;
    }

    .text-secondary {
        color: #6c757d !important;
    }

    .text-danger {
        color: #dc3545 !important;
    }

    .filter-dropdown-wrapper {
        @media(max-width:767px) {
            margin-bottom: 10px;
        }

    }
}

.breadcrumb-wrapper-dashboard {
    padding-bottom: 24px;

    .breadcrumb {
        padding-left: 0;
    }
}

.filter-main-wrapper {
    position: fixed;
    width: calc(100vw - (100vw - 100%) - calc(2rem * 2) - 260px);
    z-index: 1;
    top: 100px;
}

.dashboard-details {
    .dashboard-listing-table-head-btn {

        @media(max-width:768px) {
            // margin-top: 30px;
            justify-content: center !important;
        }

        @media(max-width:1024px) {
            justify-content: center !important;
        }

        @media(max-width:1200px) {
            // margin-top: 30px;
            justify-content: center !important;

        }

        @media(max-width:767px) {
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
        }

        button {
            @media(max-width:767px) {
                width: 100%;
                margin-right: 0 !important;
            }

        }
    }

    .tags-wrapper {
        @media(max-width:768px) {
            margin-top: 30px;
            justify-content: center !important;
        }

        @media(max-width:1024px) {
            justify-content: center !important;
        }

        @media(max-width:1200px) {
            margin-top: 30px;
            justify-content: center !important;

        }
    }
}

.dashboard-info {
    .dashboard-listing-table-head-btn {

        @media(max-width:768px) {
            // margin-top: 30px;
            justify-content: center !important;
        }

        @media(max-width:1024px) {
            justify-content: center !important;
        }

        @media(max-width:1200px) {
            // margin-top: 30px;
            justify-content: center !important;

        }

        @media(max-width:767px) {
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
        }

        button {
            @media(max-width:767px) {
                width: 100%;
                margin-right: 0 !important;
            }

        }
    }
}

.menu-accordion {
    .navigation-main {
        .nav-item {
            &.active {
                a {
                    box-shadow: none !important;
                }
            }
        }
    }
}

.logo-wrapper-header-menu {
    align-items: center !important;
}

.table-list-wrapper {
    max-height: 575px !important; // From 580 to 575 by pratyush

    input {
        &:focus {
            box-shadow: none !important;

            &:not(:checked) {
                border: none !important;
            }

            &:before {
                box-shadow: none !important;
                outline: none !important;
                border-color: none !important;

            }
        }
    }

    $border-color_1: none;

    .custom-checkbox {
        .custom-control-input {
            &:focus {
                ~ {
                    .custom-control-label {
                        &::before {
                            box-shadow: none !important;
                            outline: none !important;
                            border-color: $border-color_1 !important;
                        }
                    }
                }
            }
        }
    }

    .custom-radio {
        .custom-control-input {
            &:focus {
                ~ {
                    .custom-control-label {
                        &::before {
                            box-shadow: none !important;
                            outline: none !important;
                            border-color: $border-color_1 !important;
                        }
                    }
                }
            }
        }
    }


    .custom-control-input {
        &:focus {
            &:not(:checked) {
                ~ {
                    .custom-control-label {
                        &::before {
                            border-color: #d8d6de !important;
                        }
                    }
                }
            }
        }
    }


}

// .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before, .custom-radio .custom-control-input:focus ~ .custom-control-label::before{
//     box-shadow: none !important;
//     outline: none !important;
//     border-color: none !important;
// }

// .custom-control-input:focus:not(:checked) ~ .custom-control-label::before{
//     border-color: none !important;
// }

.template-body-wrapper {
    .dashboard-asset-summary {
        .header-main-wrapper {

            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            background-color: white;
            z-index: 11;

            justify-content: space-between !important;
            align-items: center !important;
            box-shadow: 10px 5px 5px #bfbfbf6e;
            padding: 10px 15px;

            .template-number-wrapper {
                float: right;
            }
        }

        .template-inner-wrapper {
            padding: 0 15px;

            .info-wrapper {
                @media(max-width: 767px) {
                    gap: 20px;
                }
            }
        }

        .card-body {
            padding: 0 !important;
        }
    }

    .logo-wrapper {
        @media(max-width: 767px) {
            display: inline-block;
            width: max-content;
        }

        padding: 0 !important;

        img {
            margin-bottom: 0 !important;
            max-width: 100px;
            object-fit: cover;
        }
    }

    .number-header {
        @media(max-width: 767px) {
            width: max-content;
        }

    }

    .banner-img-wrapper {

        padding-top: 100px;

        margin: 60px 0px !important;

        img {
            max-width: 300px;
            object-fit: cover;
            height: 100%;
        }
    }

}

.document-btn-wrapper {
    div {
        display: inline-block;
        padding: 6px 6px;
        width: 50%;
        border-radius: 4px;
        font-size: 12px;
        margin: 0px 3px;
        cursor: pointer;
        text-align: start;
    }

    .document-link-btn-wrapper {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
    }

    .document-name-wrapper {
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.main-menu .navbar-header .nav-item.user-panel-logo .navbar-brand .brand-logo img {
    max-width: 107px;
}

.main-menu .navbar-header .nav-item.user-panel-logo .navbar-brand .brand-logo {
    padding: 10px 0px;
}

.menu-collapsed .nav-item.user-panel-logo .navbar-brand .brand-logo img {
    max-width: 36px !important;
}

.menu-collapsed .nav-item.user-panel-logo {
    margin-right: auto !important;
    margin-left: inherit !important;
}

.last-inspection-status {
    padding: 0px 15px;

    @media (min-width: 992px) {
        text-align: center;
        padding: 0px;
    }
}

.location-area-wrapper {
    @media (max-width: 767px) {
        justify-content: start;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    h5 {
        margin-bottom: 0;
    }
}

.filter-dropdown-wrapper {
    @media (max-width:767px) {
        .vs__selected {
            margin-top: 0 !important;
        }

        input.vs__search {
            position: absolute;
            top: 0;
            padding: 0 !important;
        }
    }
}

@media (max-width:767px) {
    .summary-info {
        margin: 30px 0 30px;
    }

    .dashboard-asset-summary .dashboard-summary-cards {
        flex-direction: column;
    }

    .dashboard-export-btn {
        width: 100%;
        margin: 0 !important;
    }
}

// .dashboard-asset-summary{
//     @media (max-width:767px) {
//         .order-wrapper{
//             gap: 30px;
//         }
//         .order-1{
//             order: 1;
//         }
//         .order-2{
//             order: 2;
//         } .order-3{
//             order: 3;
//         } .order-4{
//             order: 4;
//         }
//     }
// }


// [dir=ltr] .vertical-overlay-menu .main-menu,
// [dir=ltr] .vertical-overlay-menu.menu-hide .main-menu {
//     @media(max-width: 575px) {
//         position: relative;
//     }
// }

.vertical-overlay-menu.menu-open .main-menu {
    @media(max-width: 575px) {
        height: 100vh;
    }
}

.mobileLogo {
    display: none;
    @media(max-width: 992px) {
        display: block;
        max-width: 200px;
        margin: 20px auto;
    }
}

.responsive-search {
    @media(max-width: 575px) {
        margin-top: 10px;
    }
}

// Confined Table CSS Start
.confined-table {
    max-height: 400px;
    thead > tr {
        position: sticky;
        top: 0;
    }
} 
// Confined Table CSS End

.media.name-center {
    align-items: center;
}
.custom-remember-me{
    display: flex;
    justify-content: flex-end;
}