<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <!-- Brand logo-->
      <!-- <b-link class="brand-logo">
        <vuexy-logo />
        <h2 class="brand-text font-weight-normal text-primary ml-1">
          {{ projectName }}
        </h2>
      </b-link> -->
      <!-- /Brand logo-->

      <!-- Left Text-->
      <b-col lg="8" class="d-none d-lg-flex align-items-center p-5">
        <div class="w-50 mx-auto d-lg-flex align-items-center justify-content-center px-5">
          <b-img fluid :src="imgUrl" alt="Login V2" />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Login-->
      <b-col lg="4" class="d-flex align-items-center auth-bg px-2 p-lg-5" v-if="isLoginScreen">
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto">
          <b-card-title title-tag="h2" class="font-weight-bold mb-1">
            <b-img fluid :src="imgUrl" alt="Login V2" class="mobileLogo" />
            <!-- Welcome to {{ projectName }} Tag -->
            <div class="text-center">Welcome to</div>
            <div class="text-center">{{ projectName }} Tag</div>
          </b-card-title>
          <b-card-text class="mb-2">
            Please sign-in to your account.
          </b-card-text>

          <!-- form -->
          <validation-observer ref="loginForm">
            <b-form class="auth-login-form mt-2">
              <!-- email -->
              <b-form-group label="Email" label-for="login-email">
                <validation-provider #default="{ errors }" name="Email" rules="required|email">
                  <b-form-input id="login-email" v-model="userEmail" :state="errors.length > 0 ? false : null"
                    name="login-email" placeholder="john@example.com" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- forgot password -->
              <b-form-group>
                <div class="d-flex justify-content-between">
                  <label for="login-password">Password</label>
                  <b-link :to="{ name: 'auth-forgot-password' }">
                    <small>Forgot Password?</small>
                  </b-link>
                </div>
                <validation-provider #default="{ errors }" name="Password" rules="required">
                  <b-input-group class="input-group-merge" :class="errors.length > 0 ? 'is-invalid' : null">
                    <b-form-input id="login-password" v-model="password" :state="errors.length > 0 ? false : null"
                      class="form-control-merge" :type="passwordFieldType" name="login-password"
                      placeholder="············" />
                    <b-input-group-append is-text>
                      <feather-icon class="cursor-pointer" :icon="passwordToggleIcon" @click="togglePasswordVisibility" />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- checkbox -->
              <div class="custom-remember-me">
                <b-form-group>
                    <b-form-checkbox id="remember-me" v-model="status" name="checkbox-1">
                    Remember Me
                  </b-form-checkbox>                
                </b-form-group>
              </div>

              <b-form-group>
                <div id="recaptchaContainer" ref="recaptchaContainer"></div>
              </b-form-group>

              <!-- submit buttons -->
              <b-button variant="primary" block @click="loginForm" :disabled="loginButtonDisabled">
                Sign in
              </b-button>
            </b-form>
          </validation-observer>
        </b-col>
      </b-col>
      <!-- /Login-->

      <!-- START :: OTP -->
      <b-col lg="4" class="d-flex align-items-center auth-bg px-2 p-lg-5" v-if="isOTPScreen">
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto">
          <b-card-title title-tag="h2" class="font-weight-bold mb-1">
            <b-img fluid :src="imgUrl" alt="Login V2" class="mobileLogo" />
            <div class="text-center">Welcome to</div>
            <div class="text-center">{{ projectName }} Tag</div>
          </b-card-title>
          <b-card-text class="mb-2">
            Please sign in to your account with the One-Time Password (OTP) received in your email.
          </b-card-text>

          <validation-observer ref="loginOTPForm">
            <b-form class="auth-login-form mt-2">
              <validation-provider #default="validationContext" name="OTP" rules="required">
                <b-form-group label-for="login-otp">
                  <label>Enter OTP <span class="text-danger">*</span></label>
                  <b-form-input id="login-otp" v-model="userData.userOTP" :state="getValidationState(validationContext)" trim></b-form-input>
                  <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>

              <div class="d-flex justify-content-between align-items-center mb-2">
                <p v-if="showCountdown" class="mb-0">Resend OTP in {{ countdownMinutes }}:{{ countdownSeconds }}</p>
                <b-button variant="flat-secondary" :disabled="!resendOTPEnabled" @click="resendOTP" class="ml-auto">Resend OTP</b-button>
              </div>

              <b-button variant="primary" block @click="validateOtp">Validate OTP</b-button>
            </b-form>
          </validation-observer>
        </b-col>
      </b-col>
      <!-- END :: OTP -->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { $themeConfig } from "@themeConfig";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import formValidation from "@core/comp-functions/forms/form-validation";
import VuexyLogo from "@core/layouts/components/Logo.vue";
import {
  BRow,
  BCol,
  BLink,
  BFormGroup,
  BFormInput,
  BInputGroupAppend,
  BInputGroup,
  BFormCheckbox,
  BCardText,
  BCardTitle,
  BImg,
  BForm,
  BButton,
  BFormInvalidFeedback,
} from "bootstrap-vue";
import useJwt from "@/auth/jwt/useJwt";
import { required, email } from "@validations";
import { togglePasswordVisibility } from "@core/mixins/ui/forms";
import store from "@/store/index";
import { getHomeRouteForLoggedInUser } from "@/auth/utils";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import { mapGetters, mapActions } from "vuex";
import BaseMixins from "@/mixins/BaseMixins";
import AuthServices from "@/services/authServices";

export default {
  components: {
    BRow,
    BCol,
    BLink,
    BFormGroup,
    BFormInput,
    BInputGroupAppend,
    BInputGroup,
    BFormCheckbox,
    BCardText,
    BCardTitle,
    BImg,
    BForm,
    BButton,
    VuexyLogo,
    ValidationProvider,
    ValidationObserver,
    BFormInvalidFeedback,
  },
  mixins: [togglePasswordVisibility, BaseMixins],
  data() {
    const userData = {userOTP: ""};

    const { refFormObserver, getValidationState } = formValidation(userData);

    return {
      refFormObserver,
      getValidationState,
      projectName: $themeConfig.app.appName,
      status: "",
      password: "",
      userEmail: "",
      sideImg: require("@/assets/images/pages/login-v3-dark.svg"),
      // validation rules import store from '@/store/index'
      required,
      email,
      isOTPScreen: false,
      isLoginScreen: true,
      isValidateOtp:false,
      resendOTPEnabled: false,
      countdown: 120,
      countdownTimer: null,
      userData,
      loginUserData: "",
      loginUserMessage: "",
      accessToken: "",
      setRefreshToken: "",
      widgetId: null,
      loginButtonDisabled: true,

    };
  },
  mounted() {
    window.onload = () => {
      // reCAPTCHA script is fully loaded at this point
      this.initializeRecaptcha();
    };

    if (localStorage.checkbox && localStorage.checkbox !== "") {
      this.userEmail = localStorage.username;
      this.password = localStorage.userpassword;
      this.status = localStorage.checkbox;
    } else {
      this.userEmail = "";
      this.password = "";
      this.status = "";
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === "password" ? "EyeIcon" : "EyeOffIcon";
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === "dark") {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require("@/assets/images/pages/login-v2-white.svg");
        return this.sideImg;
      }
      return this.sideImg;
    },
    countdownMinutes() {
      return Math.floor(this.countdown / 60);
    },
    countdownSeconds() {
      return this.countdown % 60;
    },
    showCountdown() {
      return this.countdown > 0 && !this.resendOTPEnabled;
    }
  },
  methods: {
    ...mapActions("auth", ["login", "resendLoginOtp", "validateLoginOtp"]),
    validateOtp() {
      this.$refs.loginOTPForm.validate().then((success) => {
        if (success) {
          AuthServices.validateLoginOtp({email: this.userEmail, userOtp: this.userData.userOTP}).then((response) => {
            if (response.status === true || response.status == "true") {
              if (response.data.otp == this.userData.userOTP) {
                if(this.loginUserData) {
                  // NOTE :: Split code due to not repeat code when super admin code repeat
                  this.setUserData(this.loginUserData);
                }
              }
            } else {
              this.showToast("Error", "XIcon", "danger", response.message);
            }
            return Promise.resolve(response);
          });
        }
      });
    },
    resendOTP() {
      // Reset the countdown timer and disable the "Resend OTP" button
      this.startCountdownTimer();
      this.resendOTPEnabled = false;

      // Make an API request to the server to resend the OTP
      // Resend otp to super admin
      AuthServices.resendLoginOtp({email: this.userEmail}).then((response) => {
        if (response.status === true || response.status == "true") {
          this.showToast("Welcome", "CheckIcon", "success", "OTP email resend successfully.");
        }
        return Promise.resolve(response);
      });
    },
    startCountdownTimer() {
      this.countdown = 60;
      this.resendOTPEnabled = false;

      this.countdownTimer = setInterval(() => {
        if (this.countdown > 0) {
          this.countdown--;
        } else {
          clearInterval(this.countdownTimer);
          this.resendOTPEnabled = true;
        }
      }, 1000);
    },
    initializeRecaptcha() {
      const recaptchaContainer = document.getElementById('recaptchaContainer');
      const siteKey = '6LdOsj0mAAAAAFX2Lmssf4k3wSBIravKNWKqcQh6'; // Replace with your actual Site Key

      const widgetId = grecaptcha.render(recaptchaContainer, {
        sitekey: siteKey,
        callback: (response) => {
          this.onRecaptchaVerify(response);
        },
        'expired-callback': () => {
          this.onRecaptchaExpired();
        }
      });

      this.widgetId = widgetId;
    },
    onRecaptchaVerify(response) {
      if (response) {
        // reCAPTCHA verification succeeded
        // Proceed with the login process or enable the login button
        this.loginButtonDisabled = false;
      } else {
        this.loginButtonDisabled = true;
        // reCAPTCHA verification failed
        // Handle the error, such as displaying an error message
        this.showToast("Error", "XIcon", "danger", "reCAPTCHA verification failed. Please try again.");
      }
    },
    onRecaptchaExpired() {
      // Handle the reCAPTCHA expiration
      // Disable the login button or display an error message
      this.showToast("Error", "XIcon", "danger", "Verification expired. Check the checkbox again.");
      this.loginButtonDisabled = true; // Disable the login button
    },
    loginForm() {

      if (this.loginButtonDisabled) {
        // Error Message
        this.showToast("Error", "XIcon", "danger", "Please verify you are human.");
        return;
      }

      this.$refs.loginForm.validate().then((success) => {
        if (success) {
          this.login({
            email: this.userEmail,
            password: this.password,
          }).then((response) => {
            if (response.status == 200 || response.status === true) {
              const userData = response.data.user.loggedUserData;

              // Assign user data
              this.loginUserData    = userData;
              this.loginUserMessage = response.message;
              this.accessToken      = response.accessToken;
              this.setRefreshToken  = response.setRefreshToken;

              // Nav Menu Set as per the role
              if (userData.role == "Super Admin") {
                // Show OTP screen
                this.isOTPScreen = true;

                // Hide login screen
                this.isLoginScreen = false;

                this.showOTPField = true;
                this.startCountdownTimer();

                store.commit(
                  "verticalMenu/UPDATE_NAV_MENU_ITEMS",
                  store.state.verticalMenu.superAdminMenuData
                );
              } else if (userData.role == "Admin") {
                // OTP is validate for admin user
                this.isValidateOtp = true;

                store.commit(
                  "app/UPDATE_APP_NAME",
                  userData.client_company_name == null
                    ? store.state.app.appName
                    : userData.client_company_name
                );
                store.commit("app/UPDATE_APP_LOGO_IMAGE", userData.client_company_logo);
                if (userData.is_confined_space == 'Y') {
                  store.commit("verticalMenu/UPDATE_CLIENT_ADMIN_MENU_DATA", {
                    data: [{
                      title: 'Confined Space',
                      icon: 'InfoIcon',
                      route: 'client-confined-space-list'
                    }], index: 7
                  });

                  const uniqueData = [...new Set(store.state.verticalMenu.clientAdminMenuData.map(item => JSON.stringify(item)))].map(item => JSON.parse(item));
                  store.commit("verticalMenu/UPDATE_NAV_MENU_ITEMS", uniqueData);
                } else {
                  store.commit(
                    "verticalMenu/UPDATE_NAV_MENU_ITEMS",
                    store.state.verticalMenu.resetClientAdminMenuData
                  );
                }
              } else if (userData.role == "User") {
                // OTP is validate for admin user
                this.isValidateOtp = true;

                store.commit("app/UPDATE_APP_LOGO_IMAGE", userData.client_company_logo);
                store.commit(
                  "app/UPDATE_APP_NAME",
                  userData.client_company_name == null
                    ? store.state.app.appName
                    : userData.client_company_name
                );
                store.commit(
                  "verticalMenu/UPDATE_NAV_MENU_ITEMS",
                  store.state.verticalMenu.siteManagerMenuData
                );
              }

              if (this.isValidateOtp) {

                // NOTE :: Split code due to not repeat code when super admin code repeat
                this.setUserData(userData);

                // // User avatar set
                // store.commit("auth/UPDATE_USER_AVATAR", userData.avatar);

                // // User avatar set
                // store.commit("auth/UPDATE_USER_FULL_NAME", userData.fullName);

                // useJwt.setToken(response.accessToken);
                // useJwt.setRefreshToken(response.setRefreshToken);

                // localStorage.setItem("userData", JSON.stringify(userData));
                // this.$ability.update(userData.ability);

                // if (this.status && this.userEmail !== "" && this.password !== "") {
                //   localStorage.username = this.userEmail;
                //   localStorage.userpassword = this.password;
                //   localStorage.checkbox = this.status;
                // } else {
                //   localStorage.username = "";
                //   localStorage.userpassword = "";
                //   localStorage.checkbox = "";
                // }

                // if(userData.role == "Admin" || userData.role == "User") {
                //   this.$router
                //     .replace(getHomeRouteForLoggedInUser(userData.role))
                //     .then(() => {
                //       // Success Message
                //       this.showToast("Welcome", "CheckIcon", "success", response.message);
                //     });
                // }
                
                }
              } else {
                // Error Message
                this.showToast("Error", "XIcon", "danger", response.message);
              }
            });
        }
      });
    },
    // Split code due to not repeat code when super admin login
    setUserData(userData) {
      if (userData) {
        // User avatar set
        store.commit("auth/UPDATE_USER_AVATAR", userData.avatar);

        // User avatar set
        store.commit("auth/UPDATE_USER_FULL_NAME", userData.fullName);

        useJwt.setToken(this.accessToken);
        useJwt.setRefreshToken(this.setRefreshToken);

        localStorage.setItem("userData", JSON.stringify(userData));
        this.$ability.update(userData.ability);

        if (this.status && this.userEmail !== "" && this.password !== "") {
          localStorage.username = this.userEmail;
          localStorage.userpassword = this.password;
          localStorage.checkbox = this.status;
        } else {
          localStorage.username = "";
          localStorage.userpassword = "";
          localStorage.checkbox = "";
        }

        this.$router.replace(getHomeRouteForLoggedInUser(userData.role))
          .then(() => {
            // Delay in milliseconds (e.g., 3000 for 3 seconds)
            const delay = 3000;

            // Delay the toast message
            setTimeout(() => {
              this.showToast("Welcome", "CheckIcon", "success", this.loginUserMessage);
            }, delay);
          });
      }
    },
    
  },
  beforeDestroy() {
    clearInterval(this.countdownTimer);
  },
  watch: {
    countdown(newCountdown) {
      if (newCountdown === 0) {
        this.resendOTPEnabled = true;
      }
    }
  }
};
</script>

<style lang="scss">
@import "@resources/scss/vue/pages/page-auth.scss";
</style>
