<template>
    <div class="template-body-wrapper" v-if="this.assetInfoData.asset_id">
        <report-issue-modal></report-issue-modal>

        <b-card class="dashboard-asset-summary mt-0" v-if="!this.token">
            <b-row class="header-main-wrapper">
                <b-col md="2" sm="2" xs="2" class="mb-0 test-dark logo-wrapper">
                    <b-img v-if="assetInfoData.logo" left fluid :src="assetInfoData.logo" class="mb-1 mb-sm-0"
                        height="120"></b-img>
                    <b-img v-else left fluid :src="appLogoImage" class="mb-1 mb-sm-0 logo-wrapper" height="120"></b-img>
                </b-col>

                <b-col md="2" sm="2" xs="2" class="text-green number-header">
                    <a :href="`tel:${this.assetInfoData.contact_number}`">
                        <h3 class="mb-0 text-primary template-number-wrapper">
                            <feather-icon icon="PhoneIcon" size="25" class="mr-50 text-primary" />{{
                                this.assetInfoData.contact_number
                            }}
                        </h3>
                    </a>
                </b-col>
            </b-row>
            <div class="template-inner-wrapper">
                <b-row>
                    <b-col md="12" class="mb-2 test-dark banner-img-wrapper">
                        <b-img v-if="assetInfoData.asset_image" center fluid :src="assetInfoData.asset_image"
                            class="w-50"></b-img>
                        <b-img v-else center fluid
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
                            class="w-25" height="50"></b-img>
                    </b-col>
                </b-row>
                <b-row class="mb-2 info-wrapper">
                    <b-col md="3">
                        <h3 class="mb-0">{{ this.assetInfoData.asset_id }}</h3>
                        <span class="font-weight-bold text-gray">Asset UID#</span>
                    </b-col>
                    <b-col md="3">
                        <h3 class="mb-0">{{ this.assetInfoData.location }}</h3>
                        <span class="font-weight-bold text-gray">Location</span>
                    </b-col>
                    <b-col md="3">
                        <h3 class="mb-0">{{ this.assetInfoData.area }}</h3>
                        <span class="font-weight-bold text-gray">Area</span>
                    </b-col>
                    <b-col md="3">
                        <span class="mb-1 font-weight-bold text-gray ">Current Status:</span><br/>
                        <b-badge  v-if="this.assetInfoData.inspection && this.assetInfoData.inspection.length > 0" pill :variant="`light-${resolveInspectionStatusVariant(
                                    this.assetInfoData.inspection[0].inspection_result
                                )}`">
                                    {{ getResultValue(this.assetInfoData.inspection[0].inspection_result) }}
                                </b-badge>
                    </b-col>
                </b-row>
                <b-row class="mb-2">
                    <b-col md="12">
                        <b-button block variant="primary" class="font-weight-bolder" style="font-size: 1.5rem" @click="goToAddReportIssue()">
                            Report Issue
                        </b-button>
                    </b-col>
                </b-row>
                <b-row class="mb-2">
                    <b-col md="12">
                        <h3 class="mb-2 font-weight-bolder">Asset History</h3>
                        <b-table hover :fields="fields" :items="assetInfoData.inspection" responsive class="mb-0" show-empty
                            empty-text="No Inspection records found" v-if="assetInfoData && assetInfoData.inspection">
                            <template #cell(inspection_result)="data">
                                <b-badge pill :variant="`light-${resolveInspectionStatusVariant(
                                    data.item.inspection_result
                                )}`">
                                    {{ getResultValue(data.value) }}
                                </b-badge>
                            </template>

                            <!-- A virtual composite column -->
                            <template #cell(date)="data">
                                {{ data.value }}
                            </template>

                            <!-- Optional default data cell scoped slot -->
                            <template #cell()="data">
                                {{ data.value }}
                            </template>
                        </b-table>
                    </b-col>
                </b-row>
            </div>
        </b-card>

        <footer class="mt-4 text-center footer footer-light">
            Proudly delivered by <a href="https://www.riskmitigationtechnologies.com/contact-us">RMT</a>
        </footer>
    </div>
    <div class="template-body-wrapper asset-not-found" v-else>
        <b-container fluid class="d-flex flex-column justify-content-center align-items-center">
            <h3 class="text-danger">Asset not found</h3>
            <p>Please check the asset ID and try again.</p>
        </b-container>
    </div>
</template>
<script>
import BaseMixins from "@/mixins/BaseMixins";

import ReportIssueModal from "./ReportModal.vue";
import router from "@/router";
import store from '@/store/index'
//import { getHomeRouteForLoggedInUser } from '@/auth/utils'

import {
    BCard,
    BCardHeader,
    BCardBody,
    BCardText,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BBadge,
    BImg,
    BListGroup,
    BListGroupItem,
    BTable,
    BContainer
} from "bootstrap-vue";

import { mapActions, mapGetters } from "vuex";

export default {
    mixins: [BaseMixins],

    components: {
        BCard,
        BCardHeader,
        BCardBody,
        BCardText,
        BRow,
        BCol,
        BFormInput,
        BButton,
        BBadge,
        BImg,
        BListGroup,
        BListGroupItem,
        BTable,
        ReportIssueModal,
        BContainer,
    },
    computed: {
        ...mapGetters("app", [
            "appName", // Get app name
            "appLogoImage", // Get app logo image
        ]),
    },
    mounted() {
        this.token = router.currentRoute.query.token;
        if (this.token) {
            window.location.href = window.BASE_URL + '/asset-information/' + router.currentRoute.params.asset_nfc_uuid;
        } else {
            this.getAssetInfo(router.currentRoute.params.asset_nfc_uuid).then(
                (response) => {
                    if (response.status === true || response.status == "true") {
                        this.assetInfoData = response.data;
                        //console.log("response", response);
                    }
                }
            );
        }

    },
    data() {
        return {
            assetInfoData: [],
            asset_nfc_uuid: router.currentRoute.params.asset_nfc_uuid,
            token: "",

            fields: [
                // A column that needs custom formatting
                { key: "date", label: "Last Inspected" },
                { key: "inspection_result", label: "Result" },
            //    { key: "inspection_note", label: "History" },
                // A regular column
                // A virtual column made up from two fields
            ],
        };
    },

    methods: {
        ...mapActions("assetInfo", ["getAssetInfo"]),
        goToAddReportIssue() {
            this.$bvModal.show("reportIssue-modal");
        },
        getResultValue(mResult) {
            if (mResult == "pass") {
                return "Pass";
            } else if (mResult == "fail") {
                return "Fail";
            } else if (mResult == "maintenance_required") {
                return "Maintenance";
            } else if (mResult == "inspect") {
                return "Inspect";
            }
        },
        //     loginRoute() {
        //   const user = JSON.parse(localStorage.getItem('userData'))
        //   return getHomeRouteForLoggedInUser(user ? user.role : null)
        // },
    },
};
</script>

<style>
.asset-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
</style>
