<template>
    <div>

        <!-- Table Container Card -->
        <b-card no-body class="mb-0">

            <div class="m-2">
                <!-- Table Top -->
                <b-row>

                    <!-- Per Page -->
                    <b-col cols="12" md="6" class="d-flex align-items-center justify-content-start mb-1 mb-md-0">
                        <label>Show</label>
                        <v-select v-model="perPage" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="perPageOptions" :clearable="false"
                            class="per-page-selector d-inline-block mx-50" />
                        <label>entries</label>
                    </b-col>

                    <!-- Search -->
                    <b-col cols="12" md="6">
                        <div class="d-flex align-items-center justify-content-end">
                            <b-form-input v-model="search" class="d-inline-block mr-1" placeholder="Search..." />
                        </div>
                    </b-col>
                </b-row>

            </div>

            <b-table
                hover
                ref="assetActivityListTable"
                class="position-relative"
                :items="activityList"
                :filter="search"
                responsive
                :fields="tableColumns"
                :current-page="currentPage"
                :per-page="perPage"
                primary-key="aa_id"
                show-empty empty-text="No matching records found"
            >

                <!-- Column: Date&Time -->
                <template #cell(datetime)="data">
                    <p class="mb-0">{{ data.item.date }}</p>
                    <p class="mb-0">{{ data.item.time }}</p>
                </template>

                <!-- Column: User -->
                <template #cell(user)="data">
                    <div class="text-nowrap">
                        <feather-icon
                        icon="UserIcon"
                        size="18"
                        class="mr-50"
                        />
                        <span class="align-text-top text-capitalize">{{ data.item.user }}</span>
                    </div>
                </template>

                <!-- Column: Old Value -->
                <template #cell(old_value)="data">
                    <!-- <div :style="'width=50px; height=20px; background-color: '+data.item.color"></div> -->
                    <div v-if="data.item.type == 'color'" class="text-center asset-listing-color" :style="'background-color: '+data.item.old_value">
                        <!-- <span class="text-black">{{ getColorText(data.item.old_value) }}</span> -->
                        <span class="text-white"
                            v-if="data.item.old_value == 'rgb(0,0,255)' || data.item.old_value == 'rgb(128,128,128)' || data.item.old_value == 'rgb(255,0,0)'">{{
                                getColorText(data.item.old_value)
                            }}</span>
                        <span class="text-black" v-else>{{ getColorText(data.item.old_value) }}</span>
                    </div>
                    <div v-else-if="data.item.type == 'image'">
                        <b-img :src="data.item.old_value" width="60px" @click="show(data.item.old_value)" />
                    </div>
                    <span v-else>{{ data.item.old_value }}</span>
                </template>

                <!-- Column: New Value -->
                <template #cell(new_value)="data">
                    <div v-if="data.item.type == 'color'" class="text-center asset-listing-color" :style="'background-color: '+data.item.new_value">
                        <span class="text-white"
                            v-if="data.item.new_value == 'rgb(0,0,255)' || data.item.new_value == 'rgb(128,128,128)' || data.item.new_value == 'rgb(255,0,0)'">{{
                                getColorText(data.item.new_value)
                            }}</span>
                        <span class="text-black" v-else>{{ getColorText(data.item.new_value) }}</span>
                    </div>
                    <div v-else-if="data.item.type == 'image'">
                        <b-img :src="data.item.new_value" width="60px" @click="show(data.item.new_value)" />
                    </div>
                    <span v-else>{{ data.item.new_value }}</span>
                </template>


            </b-table>
            <!-- Data Information & Pagination -->
            <div class="mx-2 mb-2" v-if="activityList.length">
                <b-row>
                    <b-col cols="12" sm="6"
                        class="d-flex align-items-center justify-content-center justify-content-sm-start">
                        <span class="text-muted"
                            >Showing {{ (currentPage - 1) * perPage + 1 }} to
                            {{
                                (currentPage - 1) * perPage + perPage >
                                activityList.length
                                    ? activityList.length
                                    : (currentPage - 1) * perPage + perPage
                            }}
                            of {{ activityList.length }} entries</span
                        >
                    </b-col>
                    <!-- Pagination -->
                    <b-col cols="12" sm="6" class="d-flex align-items-center justify-content-center justify-content-sm-end">

                        <b-pagination
                            v-model="currentPage"
                            :total-rows="activityList.length"
                            :per-page="perPage"
                            first-number
                            last-number
                            class="mb-0 mt-1 mt-sm-0"
                            prev-class="prev-item"
                            next-class="next-item"
                        >
                            <template #prev-text>
                                <feather-icon
                                    icon="ChevronLeftIcon"
                                    size="18"
                                />
                            </template>
                            <template #next-text>
                                <feather-icon
                                    icon="ChevronRightIcon"
                                    size="18"
                                />
                            </template>
                        </b-pagination>

                    </b-col>

                </b-row>
            </div>
        </b-card>
    </div>
</template>
<script>
import {
    BCard,
    BRow,
    BCol,
    BImg,
    BFormInput,
    BFormCheckbox,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import BaseMixins from "@/mixins/BaseMixins";
import { mapGetters, mapActions } from 'vuex'
import 'viewerjs/dist/viewer.css'
import VueViewer from 'v-viewer'
import Vue from 'vue'
Vue.use(VueViewer)
export default {
    mixins: [BaseMixins],
    components: {
        BCard,
        BRow,
        BCol,
        BImg,
        BFormInput,
        BFormCheckbox,
        BButton,
        BTable,
        BMedia,
        BAvatar,
        BLink,
        BBadge,
        BDropdown,
        BDropdownItem,
        BPagination,
        vSelect,
    },
    data() {
        return {
            tableColumns: [
                { label: 'Updated On', key: 'datetime', sortable: true },
                { label: 'Pic/Uid', key: 'user', sortable: true },
                { label: 'Field', key: 'field', sortable: true },
                { label: 'Old Value', key: 'old_value', sortable: true },
                { label: 'New Value', key: 'new_value', sortable: true },
            ],
            search: "",
            currentPage: 1,
            perPage: 25,
            // totalRows: 0,
            perPageOptions: [10, 25, 50, 100],
        }
    },
    computed: {
        ...mapGetters('activity', ['activityList']),
    },
    mounted() {
    },
    methods: {
        ...mapActions('activity', ['fetchAssetActivity']),
        callFetchAssetActivityAction() {
            this.fetchAssetActivity();
        },
        show(url) {
            this.$viewerApi({
                images: [url],
            })
        },
    },
    watch: {

    }
}
</script>
<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
@import '~@resources/scss/vue/libs/vue-select.scss';
