<template>
  <b-card no-body>
    <b-card-header class="pb-50">
      <h5>Filter By:</h5>
    </b-card-header>
    <b-card-body>
      <b-row>
        <b-col cols="12" md="4" class="mb-md-0 mb-2">
          <label>Location</label>
          <v-select
            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
            :value="siteFilter"
            :options="siteOptions"
            label="text"
            class="w-100"
            :reduce="(val) => val.value"
            @input="(val) => $emit('update:siteFilter', val)"
            placeholder="Please select Location"
          />
        </b-col>
        <b-col cols="12" md="4" class="mb-md-0 mb-2">
          <label>Area</label>
          <v-select
            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
            :value="subSiteFilter"
            :options="subSiteOptions"
            label="text"
            class="w-100"
            :reduce="(val) => val.value"
            @input="(val) => $emit('update:subSiteFilter', val)"
            placeholder="Please select Area"
          />
        </b-col>
        <b-col cols="12" md="4" class="mb-md-0 mb-2">
          <label>Status</label>
          <v-select
            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
            :value="statusFilter"
            :options="statusOptions"
            class="w-100"
            :reduce="(val) => val.value"
            @input="(val) => $emit('update:statusFilter', val)"
            placeholder="Please select status"
          />
        </b-col>

      </b-row>
    </b-card-body>
  </b-card>
</template>

<script>
import { BCard, BCardHeader, BCardBody, BRow, BCol } from "bootstrap-vue";
import vSelect from "vue-select";

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BCardHeader,
    BCardBody,
    vSelect,
  },
  props: {
    statusOptions: {
      type: Array,
      required: true,
    },
    statusFilter: {
      type: [String, null],
      default: null,
    },
    siteOptions: {
      type: Array,
      required: true,
    },
    siteFilter: {
      type: [String, Number, null],
      default: null,
    },
    subSiteOptions: {
      type: Array,
      //required: true,
    },
    subSiteFilter: {
      type: [String, Number, null],
      default: null,
    },
  },
};
</script>

<style lang="scss">
@import "~@resources/scss/vue/libs/vue-select.scss";
</style>
