  <template>
  <div class="card">
    <div class="card-body">
      <!-- Alert - Server side error -->
      <error-message></error-message>

      <validation-observer #default="{ handleSubmit }" ref="newUserFormObserver">
        <b-form class="mt-1">
          <!-- START :: User Basic Information -->
          <div class="mt-2 pt-75">
            <!-- Header: Basic Info -->
            <div class="d-flex">
              <feather-icon icon="UserIcon" size="19" />
              <h4 class="mb-0 ml-50">Basic Information</h4>
            </div>

            <b-row class="mt-1">
              <!-- Field: First Name -->
              <b-col cols="12" md="4">
                <validation-provider
                  #default="validationContext"
                  name="First Name"
                  rules="required|alpha"
                >
                  <b-form-group label-for="first_name">
                    <label>First Name <span class="text-danger">*</span></label>
                    <b-form-input
                      id="first_name"
                      v-model="userData.first_name"
                      :state="getValidationState(validationContext)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Field: Middle Name -->
              <!-- <b-col cols="12" md="4">
                <validation-provider
                  #default="validationContext"
                  name="Middle Name"
                  rules="alpha"
                >
                  <b-form-group label="Middle Name" label-for="middle_name">
                    <b-form-input
                      id="middle_name"
                      v-model="userData.middle_name"
                      :state="getValidationState(validationContext)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col> -->

              <!-- Field: Last Name -->
              <b-col cols="12" md="4">
                <validation-provider
                  #default="validationContext"
                  name="Last Name"
                  rules="alpha"
                >
                  <b-form-group label-for="last_name">
                    <label>Last Name</label>
                    <b-form-input
                      id="last_name"
                      v-model="userData.last_name"
                      :state="getValidationState(validationContext)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Field: Work Email -->
              <b-col cols="12" md="4">
                <validation-provider
                  #default="validationContext"
                  name="Work Email"
                  rules="required|email"
                >
                  <b-form-group label-for="email">
                    <label>Work Email <span class="text-danger">*</span></label>
                    <b-form-input
                      id="email"
                      v-model="userData.email"
                      type="email"
                      :state="getValidationState(validationContext)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Field: Employee ID Number -->
              <b-col cols="12" md="4">
                  <b-form-group>
                    <label>Employee ID Number</label>
                    <b-form-input
                      id="employee_id_number"
                      v-model="userData.employee_id_number"
                      trim
                    />
                  </b-form-group>
              </b-col>

              <!-- Field: Notes -->
              <b-col cols="12" md="4">
                <b-form-group>
                  <label>Notes</label>
                  <b-form-textarea
                    v-model="userData.notes"
                    placeholder="Notes"
                    rows="3"
                  />
                </b-form-group>
              </b-col>

              <!-- Field: Status -->
              <b-col cols="12" md="4">
                <validation-provider
                  #default="validationContext"
                  name="User Status"
                  rules="required"
                >
                  <b-form-group
                    label-for="user-status"
                    :state="getValidationState(validationContext)"
                  >
                    <label>Status <span class="text-danger">*</span></label>
                    <v-select
                      v-model="userData.status"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="statusOptions"
                      :reduce="(val) => val.value"
                      :clearable="true"
                      input-id="user-status"
                    />
                    <b-form-invalid-feedback
                      :state="getValidationState(validationContext)"
                    >
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
            </b-row>
          </div>
          <!-- END :: User Basic Information -->

          <!-- Action Buttons -->
          <b-row class="mt-2">
            <b-col>
              <b-button
                variant="primary"
                class="mb-1 mb-sm-0 mr-0 mr-sm-1"
                :block="$store.getters['app/currentBreakPoint'] === 'xs'"
                @click="submitNewUser"
              >
                Save
              </b-button>
              <b-button type="button" @click.prevent="onCancel"> Cancel </b-button>
            </b-col>
          </b-row>
        </b-form>
      </validation-observer>
    </div>
  </div>
</template>

<script>
import {
  BButton,
  BMedia,
  BAvatar,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormRadioGroup,
  BForm,
  BTable,
  BCard,
  BCardHeader,
  BCardTitle,
  BFormCheckbox,
  BFormInvalidFeedback,
  BFormFile,
  BFormTextarea
} from "bootstrap-vue";

import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, alpha, email } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import vSelect from "vue-select";
import flatPickr from "vue-flatpickr-component";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";

import { mapActions, mapGetters } from "vuex";
import UserServices from "@/services/userServices";
import BaseMixins from "@/mixins/BaseMixins";
import ErrorMessage from "@/views/error/ErrorMessage";

export default {
  mixins: [BaseMixins],
  components: {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    BFormInvalidFeedback,
    BFormTextarea,
    vSelect,
    BFormRadioGroup,
    BFormFile,

    // Date picker
    flatPickr,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  data() {

    const userData = {
      avatar: [],
      first_name: "",
      middle_name: "",
      last_name: "",
      email: "",
      employee_id_number: "",
      notes: "",
      role: "User",
      status: "Y",
      date_of_birth: "",
      contact_number: "",
      address_line_1: "",
      address_line_2: "",
      street: "",
      city: "",
      state: "",
      country: "Australia",
      postal_code: "",
    };

    const { refFormObserver, getValidationState } = formValidation(userData);

    return {
      // Validation
      required,
      alpha,
      email,
      refFormObserver,
      getValidationState,
      userData,
    };
  },
  methods: {
    onCancel() {
      this.$router.push({ name: "client-user-list" });
    },
    onFileChange(event) {
      this.userData.avatar = event.target.files[0];
    },
    // Submit user data
    submitNewUser() {
      this.$refs.newUserFormObserver.validate().then((success) => {
        if (success) {
          const config = {
            headers: {
              "content-type": "multipart/form-data",
            },
          };
          let formData = new FormData();

          // Set data in form
          for (const [key, value] of Object.entries(this.userData)) {
            formData.append(key, value);
          }

          // check validation
          UserServices.storeNewUser(formData, config).then((response) => {
            if (response.status === true || response.status == "true") {
              this.$router.push({ name: "client-user-list" });

              this.$toast({
                component: ToastificationContent,
                position: "top-right",
                props: {
                    icon: "CheckIcon",
                  title: `Notification`,
                  variant: "success",
                  text: `You have successfully added new user.`,
                },
              });
            } else {
              this.moveUp();
            }
            return Promise.resolve(response);
          });
        } else {
          this.moveUp();
        }
      });
    },
  },
};
</script>

<style lang="scss">
@import "~@resources/scss/vue/libs/vue-select.scss";
@import "~@resources/scss/vue/libs/vue-flatpicker.scss";
</style>
