<template>
  <p class="clearfix mb-0">
    <span class="float-md-left d-block d-md-inline-block mt-25">
      COPYRIGHT © {{ new Date().getFullYear() }}
      <b-link class="ml-25" :href="copyRightURL" target="_blank"
        >{{ copyRightName }}
      </b-link>
      <span class="d-none d-sm-inline-block"> All rights Reserved</span>
    </span>

    <span class="float-md-right d-none d-md-block">Version {{ systemVersion }}
    </span>
  </p>
</template>

<script>
import { $themeConfig } from "@themeConfig";
import { BLink } from "bootstrap-vue";
import { mapActions, mapGetters } from 'vuex';


export default {
  components: {
    BLink,
  },
  data() {
    return {
      copyRightName: $themeConfig.app.appCopyRightName,
      copyRightURL: $themeConfig.app.appCopyRightURL,
      version: '1.0.0',
      cacheExpiry: 24 * 60 * 60 * 1000, // Cache expiry in milliseconds (e.g., 24 hours)
    };
  },
  computed: {
    ...mapGetters('app', [
      'systemVersion',
    ]),
  },
  mounted() {
    this.getVersion();
  },
  methods: {
    // Action call for set state variables
    ...mapActions('app',
      [
        'getLatestVersion', // Get latest version of the system
      ]
    ),
    getVersion() {
      const cachedVersion = localStorage.getItem('version');
      const cacheTimestamp = localStorage.getItem('versionTimestamp');

      if (cachedVersion && cacheTimestamp) {
        const currentTime = new Date().getTime();
        const cachedTime = parseInt(cacheTimestamp, 10);

        if (currentTime - cachedTime < this.cacheExpiry) {
          this.$store.commit('app/UPDATE_SYSTEM_VERSION', cachedVersion);
          return;
        }
      }

      this.getLatestVersion();
    },
  },
};
</script>
