<template>
  <div>

    <!-- Media -->
    <b-media class="mb-2" v-if="userWithCompanyData && userWithCompanyData.company_data">
      <template #aside>
        <b-avatar ref="previewEl" :src="userWithCompanyData.company_data.logo" :text="avatarText(userWithCompanyData.company_data.name)"
          :variant="`light-${resolveUserRoleVariant(userWithCompanyData.role)}`" size="90px" rounded />
      </template>
      <h4 class="mt-2">
        {{ userWithCompanyData.company_data.name }}
      </h4>
    </b-media>

    <!-- User Info: Input Fields -->
    <b-row v-if="userWithCompanyData && userWithCompanyData.company_data">

      <!-- Field: Company Name -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="Company Name" rules="required">
          <b-form-group label="Company Name" label-for="client_company_name">
            <b-form-input id="client_company_name" placeholder="XYZ" v-model="userWithCompanyData.company_data.name"
              :state="getValidationState(validationContext)" trim disabled />
            <b-form-invalid-feedback>
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <!-- Field: ABN -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="ABN" rules="required">
          <b-form-group label="ABN" label-for="client_abn">
            <b-form-input id="client_abn" placeholder="XYZ123" v-model="userWithCompanyData.company_data.abn"
              :state="getValidationState(validationContext)" trim disabled />
            <b-form-invalid-feedback>
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <!-- Field: Client ID -->
      <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="Client ID" rules="required">
          <b-form-group label="Client ID" label-for="client_uuid">
            <b-form-input id="client_uuid" placeholder="CLIENT001" v-model="userWithCompanyData.company_data.client_id"
              :state="getValidationState(validationContext)" trim disabled />
            <b-form-invalid-feedback>
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <!-- Field: Company Website -->
      <b-col cols="12" md="6" lg="4">
        <validation-provider #default="validationContext" name="Company Website" rules="url">
          <b-form-group label="Company Website" label-for="client_company_website">
            <b-form-input id="client_company_website" v-model="userWithCompanyData.company_data.website"
              :state="getValidationState(validationContext)" trim disabled />
            <b-form-invalid-feedback>
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col>

      <b-col cols="12" md="6" lg="4">
        <b-form-group>
          <label>Confined Space</label>

          <v-select v-model="userWithCompanyData.is_confined_space" :options="confinedSpaceOptions" :reduce="val => val.value"
            :clearable="true" input-id="user-is-confined-space" disabled/>
        </b-form-group>
      </b-col>
      <!-- Field: Status -->
      <!-- <b-col cols="12" md="4">
        <validation-provider #default="validationContext" name="User Status" rules="required">
          <b-form-group label="Status" label-for="user-status" :state="getValidationState(validationContext)">
            <v-select v-model="userWithCompanyData.status" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="statusOptions" :reduce="val => val.value" :clearable="true" input-id="user-status"
              placeholder="Select Status" disabled />
            <b-form-invalid-feedback :state="getValidationState(validationContext)">
              {{ validationContext.errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
      </b-col> -->

    </b-row>

      <!-- START :: Company address Info Form -->
      <!-- Header: Address Info -->
      <div class="d-flex mt-2">
        <feather-icon icon="MapPinIcon" size="19" />
        <h4 class="mb-0 ml-50">
          Address
        </h4>
      </div>
      <!-- Header: Address Info -->
      <b-row class="mt-1" v-if="userWithCompanyData && userWithCompanyData.company_data">
        <!-- Field: Street -->
        <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="Street" rules="required">
            <b-form-group label="Street" label-for="street">
              <b-form-input id="street" v-model="userWithCompanyData.company_data.street" :state="getValidationState(validationContext)" trim
                disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: City -->
        <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="City" rules="required">
            <b-form-group label="City" label-for="city">
              <b-form-input id="city" v-model="userWithCompanyData.company_data.city" placeholder="Los Angeles"
                :state="getValidationState(validationContext)" trim disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: State -->
        <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="State" rules="required">
            <b-form-group label="State" label-for="state">
              <b-form-input id="state" v-model="userWithCompanyData.company_data.state" placeholder="Manhattan"
                :state="getValidationState(validationContext)" trim disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Country -->
        <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="Country" rules="required">
            <b-form-group label="Country" label-for="country">
              <b-form-input id="country" v-model="userWithCompanyData.company_data.country" placeholder="United States"
                :state="getValidationState(validationContext)" trim disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Postcode -->
        <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="Postcode" rules="required">
            <b-form-group label="Postcode" label-for="postcode">
              <b-form-input id="postcode" v-model="userWithCompanyData.company_data.postal_code" placeholder="597626"
                :state="getValidationState(validationContext)" trim disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Field: Company Contact Number -->
        <b-col cols="12" md="6" lg="4">
          <validation-provider #default="validationContext" name="Company Contact Number" rules="required|integer">
            <b-form-group label="Company Contact Number" label-for="client_company_contact_no">
              <b-form-input id="client_company_contact_no" v-model="userWithCompanyData.company_data.contact_no"
                :state="getValidationState(validationContext)" trim disabled />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>
      </b-row>
      <!-- END :: Company address Info Form -->

  </div>
</template>

<script>
import {
  BButton,
  BMedia,
  BAvatar,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BForm,
  BTable,
  BCard,
  BCardHeader,
  BCardTitle,
  BFormCheckbox,
  BFormInvalidFeedback,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import { avatarText } from '@core/utils/filter'
import vSelect from 'vue-select'
import { useInputImageRenderer } from '@core/comp-functions/forms/form-utils'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Ripple from 'vue-ripple-directive'

import { mapActions, mapGetters } from 'vuex';
import UserServices from "@/services/userServices";
import BaseMixins from "@/mixins/BaseMixins";

export default {
  mixins: [BaseMixins],
  components: {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  // props: {
  //   userData: {
  //     type: Object,
  //     required: true,
  //   },
  // },
  data() {
    const refInputEl = ''
    const previewEl = ''
    const { inputImageRenderer } = useInputImageRenderer(refInputEl, base64 => {
      // eslint-disable-next-line no-param-reassign
      this.userData.avatar = base64
    })
    const { refFormObserver, getValidationState } = formValidation(this.userData)

    return {
      avatarText,
      inputImageRenderer,
      refInputEl,
      previewEl,
      refFormObserver,
      getValidationState
    }
  },
  computed: {
    // Get state variables
    ...mapGetters('user',
      [
        'roleOptions', // Get role options
        'userData', // Get user
        'userWithCompanyData'
      ]
    ),
  },
  mounted() {
    this.getAllRole();
  },
  methods: {
    ...mapActions('user',
      [
        'getAllRole', // Get all roles
      ]
    ),

    newAvatarUpload(e) {
      e.preventDefault();

      let userAvatarData = {
        id: this.userData.id
      }

      // append file
      let formData = new FormData()

      formData.append('file', e.target.files[0])
      formData.append('id', this.userData.id)

      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }

      UserServices.uploadUserAvatar(userAvatarData, formData, config).then(response => {
        if (response.status === true || response.status == 'true') {

          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Notification',
              variant: 'success',
              text: response.message,
            },
          })
        } else {
          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Error',
              variant: 'danger',
              text: response.data.errors.file,
            },
          })
        }
        return Promise.resolve(response);
      });
    },
    // Remove user avatar which is exist
    removeAvatar() {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          UserServices.removeUserAvatar(this.userData.id).then(response => {
            if (response.status === true || response.status == 'true') {

              this.userData.avatar = "";

              this.$swal({
                icon: 'success',
                title: 'Removed!',
                text: response.message,
                customClass: {
                  confirmButton: 'btn btn-success',
                },
              })

              // this.$toast({
              //   component: ToastificationContent,
              //   position: 'top-right',
              //   props: {
              //     title: 'Notification',
              //     icon: 'BellIcon',
              //     variant: 'success',
              //     text: response.message,
              //   },
              // })
            } else {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: 'Error',
                  variant: 'danger',
                  text: response.data.errors.file,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    }

  },

}
</script>

<style lang="scss">
@import '~@resources/scss/vue/libs/vue-select.scss';
</style>
