<template>
    <!-- Asset Summary Starts Here -->
    <!-- <b-card class="dashboard-asset-summary"> -->
    <b-card class="dashboard-asset-summary mt-0">
        <b-row class="order-wrapper">
            <!-- Heading -->
            <b-col md="12" class="mb-2 test-dark order-1">
                <h3>Asset Summary : <span class="text-primary">{{authUserData.role==='Super Admin' ? clientName + ' / ': ''}}{{locationName}} / {{areaName}}</span></h3>
            </b-col>
            <!-- Info Stats -->
            <b-col md="2" class="order-3 summary-info">
                <b-row class="text-center" v-if="assetSummary && assetSummary.info && Object.keys(assetSummary.info).length !== 0">
                    <b-col md="12">
                        <b-card class="rounded dashboard-asset-summary-card card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_pass'})" style="cursor:pointer">
                            <p>Pass</p>
                            <h5 class="text-success">{{assetSummary.info.pass}}</h5>
                        </b-card>
                    </b-col>
                    <b-col md="12">
                        <b-card class="rounded dashboard-asset-summary-card card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_fail'})" style="cursor:pointer">
                            <p>Fail</p>
                            <h5 class="text-danger">{{assetSummary.info.fail}}</h5>
                        </b-card>
                    </b-col>
                    <b-col md="12">
                        <b-card class="rounded dashboard-asset-summary-card card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_expired'})" style="cursor:pointer">
                            <p>Expired</p>
                            <h5 class="text-danger">{{assetSummary.info.expired}}</h5>
                        </b-card>
                    </b-col>
                    <b-col md="12">
                        <b-card class="rounded dashboard-asset-summary-card card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_maintanance_required'})" style="cursor:pointer">
                            <p>Maintanance Required</p>
                            <h5 class="text-warning">{{assetSummary.info.maintanance_required}}</h5>
                        </b-card>
                    </b-col>
                    <b-col md="12">
                        <b-card class="rounded dashboard-asset-summary-card card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_inspection_due'})" style="cursor:pointer">
                            <p>New Registration Inspection Due</p>
                            <h5 class="text-gray">{{assetSummary.info.inspection_due}}</h5>
                        </b-card>
                    </b-col>
                    <b-col md="12">
                        <b-card class="rounded dashboard-asset-summary-card card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_total'})" style="cursor:pointer">
                            <p>Total</p>
                            <h5 class="text-primary">{{assetSummary.info.total}}</h5>
                        </b-card>
                    </b-col>
                </b-row>
            </b-col>
            <!-- Chart -->
            <b-col md="4" class="order-2">
                <p class="text-center" v-if="summaryInfoChart.length===0 || (summaryInfoChart[0]===0 &&  summaryInfoChart[1]===0 && summaryInfoChart[2]===0 && summaryInfoChart[3]===0)">No Record Found !</p>
                <vue-apex-charts :options="chartOptions" :series="summaryInfoChart" :key="summaryInfoChart.length" />
            </b-col>
            <!-- Sectionwise asset info -->
            <b-col class="order-4" md="6" v-if="assetSummary && Object.keys(assetSummary).length !== 0">
                <b-card v-if="Object.keys(assetSummary.assets_due_to_expire).length!==0" no-body header="Assets Due To Expire"
                    header-class="bg-warning text-white justify-content-center header-wrapper p-1"
                    class="bg-light p-0 m-0 mb-2">
                    <!-- <b-card-header class="bg-secondary text-white">Total Asset Inspections</b-card-header> -->
                    <div class="bg-light d-flex justify-content-between p-1 text-center dashboard-summary-cards">
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_due_to_expire', time: 1})" style="cursor:pointer">
                            <p>24 hrs</p>
                            <h5 class="text-danger">{{assetSummary.assets_due_to_expire.in24hrs}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_due_to_expire', time: 7})" style="cursor:pointer">
                            <p>7 days</p>
                            <h5 class="text-primary">{{assetSummary.assets_due_to_expire.in7days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_due_to_expire', time: 30})" style="cursor:pointer">
                            <p>30 days</p>
                            <h5 class="text-primary">{{assetSummary.assets_due_to_expire.in30days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_due_to_expire', time: 90})" style="cursor:pointer">
                            <p>90 days</p>
                            <h5 class="text-primary">{{assetSummary.assets_due_to_expire.in90days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_due_to_expire', time: 180})" style="cursor:pointer">
                            <p>180 days</p>
                            <h5 class="text-primary">{{assetSummary.assets_due_to_expire.in_this_year}}</h5>
                        </b-col>
                    </div>
                </b-card>
                <b-card v-if="Object.keys(assetSummary.assets_inspected).length!==0" no-body header="Assets Inspected"
                    header-class="bg-success text-white p-1 justify-content-center header-wrapper"
                    class="bg-light p-0 m-0 mb-2">
                    <!-- <b-card-header class="bg-secondary text-white">Total Asset Inspections</b-card-header> -->
                    <div class="bg-light d-flex justify-content-between p-1 text-center dashboard-summary-cards">
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_inspected', time: 1})" style="cursor:pointer">
                            <p>24 hrs</p>
                            <h5 class="text-primary">{{assetSummary.assets_inspected.in24hrs}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_inspected', time: 7})" style="cursor:pointer">
                            <p>7 days</p>
                            <h5 class="text-primary">{{assetSummary.assets_inspected.in7days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_inspected', time: 30})" style="cursor:pointer">
                            <p>30 days</p>
                            <h5 class="text-primary">{{assetSummary.assets_inspected.in30days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_inspected', time: 90})" style="cursor:pointer">
                            <p>90 days</p>
                            <h5 class="text-primary">{{assetSummary.assets_inspected.in90days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_inspected', time: 0})" style="cursor:pointer">
                            <p>This Year</p>
                            <h5 class="text-primary">{{assetSummary.assets_inspected.in_this_year}}</h5>
                        </b-col>
                    </div>
                </b-card>
                <b-card v-if="Object.keys(assetSummary.assets_registered).length!==0" no-body header="New Assets Registered"
                    header-class="bg-primary justify-content-center header-wrapper text-white p-1" class="bg-light p-0 m-0 mb-2">
                    <!-- <b-card-header class="bg-secondary text-white">Total Asset Inspections</b-card-header> -->
                    <div class="bg-light d-flex justify-content-between p-1 text-center dashboard-summary-cards">
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_registered', time: 1})" style="cursor:pointer">
                            <p>24 hrs</p>
                            <h5 class="text-primary">{{assetSummary.assets_registered.in24hrs}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_registered', time: 7})" style="cursor:pointer">
                            <p>7 days</p>
                            <h5 class="text-primary">{{assetSummary.assets_registered.in7days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_registered', time: 30})" style="cursor:pointer">
                            <p>30 days</p>
                            <h5 class="text-primary">{{assetSummary.assets_registered.in30days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_registered', time: 90})" style="cursor:pointer">
                            <p>90 days</p>
                            <h5 class="text-primary">{{assetSummary.assets_registered.in90days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'assets_registered', time: 0})" style="cursor:pointer">
                            <p>This Year</p>
                            <h5 class="text-primary">{{assetSummary.assets_registered.in_this_year}}</h5>
                        </b-col>
                    </div>
                </b-card>
                <b-card v-if="Object.keys(assetSummary.total_assets_inspection).length!==0" no-body header="Total Asset Inspections" header-class="bg-secondary justify-content-center header-wrapper text-white p-1" class="bg-light p-0 m-0 mb-2">
                    <!-- <b-card-header class="bg-secondary text-white">Total Asset Inspections</b-card-header> -->
                    <div class="bg-light d-flex justify-content-between p-1 text-center dashboard-summary-cards">
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'total_assets_inspection', time: 1})" style="cursor:pointer">
                            <p>24 hrs</p>
                            <h5 class="text-primary">{{assetSummary.total_assets_inspection.in24hrs}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'total_assets_inspection', time: 7})" style="cursor:pointer">
                            <p>7 days</p>
                            <h5 class="text-primary">{{assetSummary.total_assets_inspection.in7days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'total_assets_inspection', time: 30})" style="cursor:pointer">
                            <p>30 days</p>
                            <h5 class="text-primary">{{assetSummary.total_assets_inspection.in30days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'total_assets_inspection', time: 90})" style="cursor:pointer">
                            <p>90 days</p>
                            <h5 class="text-primary">{{assetSummary.total_assets_inspection.in90days}}</h5>
                        </b-col>
                        <b-col md="2" class="bg-white card-body-wrapper" @click="goToDashboardDetails(authUserData.role, {apiKey: 'total_assets_inspection', time: 0})" style="cursor:pointer">
                            <p>This Year</p>
                            <!-- <p>Since 1<sup>st</sup> Jan</p> -->
                            <h5 class="text-primary">{{assetSummary.total_assets_inspection.in_this_year}}</h5>
                        </b-col>
                    </div>
                </b-card>
            </b-col>
        </b-row>
    </b-card>
    <!-- Asset Summary Ends Here -->
</template>
<script>
import BaseMixins from '@/mixins/BaseMixins'
import { BCard, BCardHeader, BCardBody, BCardText, BRow, BCol, BFormInput, BButton, BBadge, BImg } from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'
import { mapActions, mapGetters } from 'vuex'
export default {
    mixins: [BaseMixins],
    components: {
        BCard,
        BCardHeader,
        BCardBody,
        BCardText,
        BRow,
        BCol,
        BFormInput,
        BButton,
        BBadge,
        BImg,
        VueApexCharts,
    },
    computed: {
        ...mapGetters('auth', ['authUserData']),
        ...mapGetters('dashboard', ['clientName', 'locationName', 'areaName', 'assetSummary', 'summaryInfoChart'])
    },
    data() {
        return {
            // series: [72, 11, 6, 2],
            chartOptions: {
                chart: {
                    type: 'donut',
                    toolbar: {
                        show: false,
                    },
                },
                dataLabels: {
                    enabled: true,
                    style: {
                        fontSize: "14px",
                    },
                    formatter: function (value) {
                        return value.toFixed(1) + "%"
                    }
                },
                legend: { show: false },
                comparedResult: [2, -3, 8],
                labels: ['Pass', 'Fail', 'Maintanance Required', 'New Registration Inspection Due'],
                stroke: { width: 0 },
                colors: ['#28a745', '#dc3545', '#ffc107', '#414141'],
                grid: {
                    padding: {
                        right: -20,
                        bottom: -8,
                        left: -20,
                    },
                },
                // plotOptions: {
                //     pie: {
                //         startAngle: -10,
                //         donut: {
                //             labels: {
                //                 show: true,
                //                 name: {
                //                     offsetY: 15,
                //                 },
                //                 value: {
                //                     offsetY: -15,
                //                     formatter(val) {
                //                         // eslint-disable-next-line radix
                //                         return `${parseInt(val)}`
                //                     },
                //                 },
                //                 total: {
                //                     show: true,
                //                     offsetY: 15,
                //                     label: 'Pass',
                //                     formatter() {
                //                         return '72'
                //                     },
                //                 },
                //             },
                //         },
                //     },
                // },
                responsive: [
                    {
                        breakpoint: 1325,
                        options: {
                            chart: {
                                height: 100,
                            },
                        },
                    },
                    {
                        breakpoint: 1200,
                        options: {
                            chart: {
                                height: 120,
                            },
                        },
                    },
                    {
                        breakpoint: 1045,
                        options: {
                            chart: {
                                height: 100,
                            },
                        },
                    },
                    {
                        breakpoint: 992,
                        options: {
                            chart: {
                                height: 120,
                            },
                        },
                    },
                ],
            },
        }
    },
    methods: {
        // ...mapActions('dashboard', ['getClientOptions']),
    },
}
</script>
