<template>
    <b-col md="6">
        <b-card no-body class="bg-light p-0 m-0 mb-2">
            <b-card-body>
                <b-row v-if="currentInspectionCompliance && Object.keys(currentInspectionCompliance).length!==0">
                    <!-- Heading -->
                    <b-col md="12" class="mb-2 test-dark">
                        <h3>Current Inspection Compliance : <span class="text-primary">{{ locationName }}</span></h3>
                    </b-col>
                    <b-col md="4">
                        <b-row class="text-center">
                            <b-col md="12">
                                <b-card class="rounded  card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'current_inspections'})" style="cursor:pointer">
                                    <p>Current Inspections</p>
                                    <h5 class="text-success">{{currentInspectionCompliance.current_inspections}}</h5>
                                </b-card>
                            </b-col>
                            <b-col md="12">
                                <b-card class="rounded  card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'overdue_inspections'})" style="cursor:pointer">
                                    <p>Overdue Inspections</p>
                                    <h5 class="text-danger">{{currentInspectionCompliance.overdue_inspections}}</h5>
                                </b-card>
                            </b-col>
                            <b-col md="12">
                                <b-card class="rounded  card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'inspections_due'})" style="cursor:pointer">
                                    <p>New Registration Inspection Due</p>
                                    <h5 class="text-gray">{{currentInspectionCompliance.inspections_due}}</h5>
                                </b-card>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="8">
                        <p class="text-center" v-if="complianceInfoChart.length===0 || (complianceInfoChart[0]===0 &&  complianceInfoChart[1]===0 && complianceInfoChart[2]===0)">No Record Found !</p>
                        <div v-else id="chart" class="mb-2">
                            <vue-apex-charts :options="chartOptions" :series="complianceInfoChart" :key="complianceInfoChart.length" />
                        </div>
                    </b-col>
                    <b-col md="12">
                        <b-row class="text-center">
                            <b-col md="4">
                                <b-card class="rounded  card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'inspections_due_24hrs'})" style="cursor:pointer">
                                    <p>Inspection Due 24hrs</p>
                                    <h5 class="text-danger">{{currentInspectionCompliance.inspection_due_24hrs}}</h5>
                                </b-card>
                            </b-col>
                            <b-col md="4">
                                <b-card class="rounded  card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'inspections_due_7days'})" style="cursor:pointer">
                                    <p>Inspection Due 7 Days</p>
                                    <h5 class="text-gray">{{currentInspectionCompliance.inspection_due_7days}}</h5>
                                </b-card>
                            </b-col>
                            <b-col md="4">
                                <b-card class="rounded  card-border-light" @click="goToDashboardDetails(authUserData.role, {apiKey: 'inspections_due_30days'})" style="cursor:pointer">
                                    <p>Inspection Due 30 Days</p>
                                    <h5 class="text-success">{{currentInspectionCompliance.inspection_due_30days}}</h5>
                                </b-card>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <b-row v-else>
                    <b-col md="12" class="text-center">
                        No Record Found!
                    </b-col>
                </b-row>
            </b-card-body>
        </b-card>
    </b-col>
</template>
<script>
import { BCard, BCardBody, BRow, BCol, BButton } from 'bootstrap-vue'
import BaseMixins from '@/mixins/BaseMixins'
import VueApexCharts from 'vue-apexcharts'
import { mapActions, mapGetters } from 'vuex'
export default {
    mixins: [BaseMixins],
    components: {
        BCard,
        BCardBody,
        BRow,
        BCol,
        BButton,
        VueApexCharts,
    },
    computed: {
        ...mapGetters('dashboard', ['locationName', 'currentInspectionCompliance', 'complianceInfoChart']),
        ...mapGetters('auth', ['authUserData']),
    },
    data() {
        return {
            series: [72, 11, 13],
            chartOptions: {
                chart: {
                    type: 'donut',
                    toolbar: {
                        show: false,
                    },
                },
                dataLabels: {
                    enabled: true,
                    style: {
                        fontSize: "14px",
                    },
                    formatter: function (value) {
                        return value.toFixed(1) + "%"
                    }
                },
                legend: { show: false },
                comparedResult: [2, -3, 8],
                labels: ['Current Inspection', 'Overdue Inspection', 'New Registration Inspection Due'],
                stroke: { width: 0 },
                colors: ['#28a745', '#dc3545', '#414141'],
                grid: {
                    padding: {
                        right: -20,
                        bottom: -8,
                        left: -20,
                    },
                },
                // plotOptions: {
                //     pie: {
                //         startAngle: -10,
                //         donut: {
                //             labels: {
                //                 show: true,
                //                 name: {
                //                     offsetY: 15,
                //                 },
                //                 value: {
                //                     offsetY: -15,
                //                     formatter(val) {
                //                         // eslint-disable-next-line radix
                //                         return `${parseInt(val)}`
                //                     },
                //                 },
                //                 total: {
                //                     show: true,
                //                     offsetY: 15,
                //                     label: 'Current Inspection',
                //                     formatter() {
                //                         return '72'
                //                     },
                //                 },
                //             },
                //         },
                //     },
                // },
                responsive: [
                    {
                        breakpoint: 1325,
                        options: {
                            chart: {
                                height: 100,
                            },
                        },
                    },
                    {
                        breakpoint: 1200,
                        options: {
                            chart: {
                                height: 120,
                            },
                        },
                    },
                    {
                        breakpoint: 1045,
                        options: {
                            chart: {
                                height: 100,
                            },
                        },
                    },
                    {
                        breakpoint: 992,
                        options: {
                            chart: {
                                height: 120,
                            },
                        },
                    },
                ],
            },
        }
    },
    methods: {
        // ...mapActions('dashboard', ['getClientOptions']),
    },
}
</script>
