<template>
    <div class="card">
      <div class="card-body">
  
        <!-- Alert - Server side error -->
        <error-message></error-message>
  
        <validation-observer #default="{ handleSubmit }" ref="versionFormObserver">
          <b-form class="mt-1">
            <!-- START :: System Version Information -->
            <div class="mt-2 pt-75">
              <!-- Header: System Version -->
              <div class="d-flex">
                <feather-icon icon="UserIcon" size="19" />
                <h4 class="mb-0 ml-50">
                  System Version
                </h4>
              </div>
  
              <b-row class="mt-1">
                <!-- Field: Version -->
                <b-col cols="12" md="4">
                  <validation-provider #default="validationContext" name="Version" rules="required">
                    <b-form-group>
                      <label>Version <span class="text-danger">*</span></label>
                      <b-form-input id="version" v-model="systemVersion"
                        :state="getValidationState(validationContext)" trim />
                      <b-form-invalid-feedback>
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>  
              </b-row>
            </div>
            <!-- END :: System Version Information -->

            <!-- Action Buttons -->
            <b-row class="mt-2">
              <b-col>
                <b-button variant="primary" class="mb-1 mb-sm-0 mr-0 mr-sm-1"
                  :block="$store.getters['app/currentBreakPoint'] === 'xs'" @click="saveSystemVersion">
                  Save
                </b-button>
                <b-button type=button @click.prevent="onCancel">
                  Cancel
                </b-button>
              </b-col>
            </b-row>
          </b-form>
        </validation-observer>
      </div>
    </div>
  </template>

<script>
import {
  BButton,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BForm,
  BCard,
  BCardTitle,
  BFormInvalidFeedback,
} from 'bootstrap-vue'

import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, alpha, email, isMobilePhone } from '@validations'

import formValidation from '@core/comp-functions/forms/form-validation'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import { mapActions, mapGetters } from 'vuex';
import AppServices from "@/services/appServices";
import BaseMixins from "@/mixins/BaseMixins";
import ErrorMessage from '@/views/error/ErrorMessage'

export default {
  mixins: [BaseMixins],
  components: {
    BButton,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BCard,
    BCardTitle,
    BFormInvalidFeedback,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  data() {
    const { refFormObserver, getValidationState } = formValidation({'systemVersion':this.systemVersion})

    return {
        required,
        refFormObserver,
        getValidationState,
    };
  },
  mounted() {
    this.getLatestVersion();
  },
  computed: {
    // Get state variables
    systemVersion: {
        get() {
        return this.$store.getters['app/systemVersion'];
        },
        set(value) {
        this.$store.commit('app/UPDATE_SYSTEM_VERSION', value);
        },
    },
    // // Get state variables
    // ...mapGetters('app', [
    //     'systemVersion', // Get all admin users
    //   ]
    // ),
  },
  methods: {
    ...mapActions('app',
      [
        'getLatestVersion', // Get latest version of the system
      ]
    ),
    onCancel() {
      this.$router.push({ name: 'admin-dashboard' });
    },
    // Submit user data
    saveSystemVersion() {
      this.$refs.versionFormObserver.validate().then(success => {
        if (success) {
          
          // check validation
          AppServices.saveSystemVersion({'version' : this.systemVersion}).then(response => {
            if (response.status === true || response.status == 'true') {

                // Set the version value in localStorage
                localStorage.setItem('version', this.systemVersion);

              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: `Notification`,
                  icon: 'CheckIcon',
                  variant: 'success',
                  text: `You have successfully changed the system version.`,
                },
              })
            }
            return Promise.resolve(response);
          });
        }
      })
    },
    extendValidationRules() {
      extend('required', {
        ...required,
        message: 'The version field is required.',
      });
    },
  },

}
</script>