<template>
  <!-- modal create-->
  <b-modal
    id="site-modal"
    cancel-variant="outline-secondary"
    ok-title="Add to New Site"
    cancel-title="Close"
    centered
    title="Location Form"
    hide-footer
    header-class="justify-content-center"
    :no-close-on-backdrop="true"
  >
    <!-- Alert - Server side error -->
    <error-message></error-message>
    <validation-observer ref="simpleRules">
      <b-form>
        <b-row>
          <b-col md="12">
            <b-form-group>
              <label>Location Name <span class="text-danger">*</span></label>
              <validation-provider
                #default="{ errors }"
                name="Location Name"
                rules="required"
              >
                <b-form-input
                  v-model="siteData.site_name"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Location Name"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <label>Location ID</label>
              	<b-form-input
                  v-model="siteData.site_uuid"
                  placeholder="Location ID"
                />
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group>
              <label>Description</label>
              <validation-provider #default="{ errors }" name="Description">
                <b-form-textarea
                  v-model="siteData.site_description"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Description"
                  rows="3"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col md="12">
            <b-form-group class="change-status">
              <label>Active</label>
              <validation-provider #default="{ errors }" name="Active" vid="Active">
                <b-form-checkbox
                  checked="true"
                  name="check-button"
                  v-model="siteData.site_status"
                  switch
                  :state="errors.length > 0 ? false : null"
                  inline
                >
                </b-form-checkbox>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <!-- submit button -->
          <b-col offset-md="4">
            <b-button variant="primary" type="submit" @click.prevent="submitSite">
              <!-- {{ isEditing ? "Update" : "Add" }} -->
              {{ siteButtonName }}
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              variant="outline-secondary"
              @click.prevent="closeSite()"
            >
              Cancel
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-modal>
</template>

<script>
import {
  BModal,
  VBModal,
  BRow,
  BCol,
  BButton,
  BForm,
  BFormGroup,
  BFormInput,
  BFormTextarea,
  BFormCheckbox,
  BFormInvalidFeedback,
  BFormFile,
  BMedia,
  BAvatar,
  BFormSelect,
} from "bootstrap-vue";
import vSelect from "vue-select";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, alpha, email } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import Ripple from "vue-ripple-directive";
import ErrorMessage from "@/views/error/ErrorMessage";
import { mapActions, mapGetters } from "vuex";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import store from "@/store/index";
import router from "@/router";
export default {
  components: {
    BModal,
    VBModal,
    BRow,
    BCol,
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BFormTextarea,
    BFormCheckbox,
    BFormInvalidFeedback,
    vSelect,
    BFormFile,
    BMedia,
    BAvatar,
    BFormSelect,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    ErrorMessage,
  },
  directives: {
    "b-modal": VBModal,
    Ripple,
  },
  data() {
    const { refFormObserver, getValidationState } = formValidation(this.siteData);
    return {
      selected: "null",
    };
  },
  props: ['perPage', 'page'],
  computed: {
    ...mapGetters("location", ["siteButtonName", "siteData", "editMode"]),
  },
  methods: {
    ...mapActions("location", ["saveSite", "updateSite"]),
    // Submit Site data
    submitSite() {
      this.$refs.simpleRules.validate().then((success) => {
        if (success) {
          if (this.siteButtonName == "Update" && this.editMode) {
            this.updateSite({
              id: this.siteData.site_id,
              ...this.siteData,
            }).then((response) => {
              console.warn(response);
              if (response.status === true || response.status == "true") {
                store.dispatch("location/getAllSite", {
                  perPage: this.perPage,
                  sortBy: "site_id",
                  sortDesc: "true",
                  page: this.page,
                });
                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    variant: "success",
                    text: response.message,
                    icon: 'CheckIcon',

                  },
                });
                this.$bvModal.hide("site-modal");
                // this.refetchData();
                this.isEditing = false;
              }
              return Promise.resolve(response);
            });
          } else {
            this.saveSite({
              ...this.siteData,
            }).then((response) => {
              if (response.status === true || response.status == "true") {
                this.$toast({
                  component: ToastificationContent,
                  position: "top-right",
                  props: {
                    variant: "success",
                    text: response.message,
                    icon: 'CheckIcon',
                  },
                });
                this.$bvModal.hide("site-modal");
                store.dispatch("location/getAllSite", {
                  perPage: this.perPage,
                  sortBy: "site_id",
                  sortDesc: "true",
                  page: this.page,
                });
              }
            });
          }
        }
      });
    },
    closeSite() {
      this.$bvModal.hide("site-modal");
    },
  },
};
</script>
